@{if repository.preview}
	<br />
	<div id="CMS">
		@{if repository.page && repository.page.body}
			<!-- RENDER UPDATED CONTENT -->
			@{!repository.page.body}
		@{else}
			<!-- DEFAULT CONTENT FOR NEW PAGES FO THIS TEMPLATE -->
			<div class="CMS_widgets"></div>
		@{fi}
	</div>
	<br />
@{else}
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            @{foreach m in sitemap()}
            @{if m.id === 'category'}
            @{sitemap_category(m.url, repository.category)}
            @{else}
            @{if m.last}
            <li class="active">@{m.name}</li>
            @{else}
            <li><a href="@{m.linker}/">@{m.name}</a></li>
            @{fi}
            @{fi}
            @{end}
        </ul>


        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
           

            <div class="col-md-9 col-sm-7">
                <div class="product-page">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="product-main-image">
                                <img src="@{if !model.files || !model.files.length}/img/empty.png@{else}/images/l/p/@{model.linker}/@{model.category.url}/@{model.files[0]._id}/@{model.files[0].originalFilename}.jpg@{fi}" class="img-responsive" alt="@{if !model.files || !model.files.length}@{model.label}@{else}@{model.files[0].description}@{fi}" data-BigImgsrc="@{if !model.files || !model.files.length}/img/empty.png@{else}/images/l/p/@{model.linker}/@{model.category.url}/@{model.files[0]._id}/@{model.files[0].originalFilename}.jpg@{fi}" >
                            </div>
                            <div class="product-other-images">
                                @{foreach m in model.files}
                                @{if !m.first}<a href="/images/l/p/@{model.linker}/@{model.category.url}/@{m._id}/@{m.originalFilename}.jpg" class="fancybox-button" rel="photos-lib"><img alt="@{m.description}" src="/images/s/p/@{model.linker}/@{model.category.url}/@{m._id}/@{m.originalFilename}.jpg"></a>@{fi}
                                @{end}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h1>@{title}</h1>
                            <div class="price-availability-block clearfix">
                                <div class="price">
                                    <div class="small">@(eshop:FromPrice)</div>
                                    @{if model.pricesDetails.length}
                                    <strong>@{currency(model.pricesDetails[0].price)}</strong>
                                    @{if model.prices.pu_ht != model.pricesDetails[0].price} <em><span>@{currency(model.prices.pu_ht)}</span></em>@{fi}
                                    @{else}
                                    <strong>@{currency(model.prices.pu_ht)}</strong>
                                    @{fi}
                                    <span class="small">@{model._units.name}</span>
                                </div>
                                <div class="availability">
                                    @{if user}
                                    <div class="dropdown dropdown-quick-sidebar-toggler">
                                        <i class="fa fa-circle text-success"></i> <span class="text-success"> On Line</span> <a href="javascript:;" class="dropdown-toggle btn btn-primary fancybox-fast-view btn-xs">Lancer chat</a>
                                    </div>
                                    @{fi}
                                </div>
                            </div>
                            <div class="description">
                                @{if !user}
                                <div class="alert alert-info">
                                    Connectez-vous pour beneficier de <strong>remises</strong> supplementaires.
                                </div>
                                @{fi}
                                <table class="table table-striped table-bordered table-condensed small">
                                    <thead>
                                        <tr>
                                            <th class="text-right">@(products:Quantity) <small>(@{model._units.name})</small></th>
                                            <th class="text-right">@(AmountHT)*</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach price in model.pricesDetails}
                                        <tr>
                                            <td class="text-right">@{price.range}</td>
                                            <td class="text-right bold">@{currency(price.price)}</td>
                                        </tr>
                                        @{end}
                                    </tbody>
                                </table>
                                <p>*Les remises sont appliquees automatiquement sur le panier.</p>
                            </div>
                        </div>
                    </div>
                    @{if model.view}
                    @{view(model.view, model)}
                    @{fi}
                    <div class='row'>
                        <div class="col-md-6 col-sm-6"></div>
                        <div class="col-md-6 col-sm-6">
                            <!--<div class="description">
                                <p>@{!model.body.substr(0,160)}</p>
                                <p><a href='#Description'>@(ReadMore)</a></p>
                            </div>-->
                            <!--<div class="product-page-options">
                                <div class="pull-left">
                                    <label class="control-label">Size:</label>
                                    <select class="form-control input-sm">
                                        <option>L</option>
                                        <option>M</option>
                                        <option>XL</option>
                                    </select>
                                </div>
                                <div class="pull-left">
                                    <label class="control-label">Color:</label>
                                    <select class="form-control input-sm">
                                        <option>Red</option>
                                        <option>Blue</option>
                                        <option>Black</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="product-page-cart price-availability-block">
                                <div class="product-quantity">
                                    <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
                                </div>
                                <button class="btn btn-primary detail-buy" data-id="@{model.id}" data-price="@{model.prices.pu_ht}">@(eshop:AddToCart)</button>
                                <div class="availability">
                                    Availability: <strong>In Stock</strong>
                                </div>
                            </div>
                            <div class="detail-checkout hidden">
                                <div class="alert alert-warning">
                                    <div>@(The product <strong>@{model.name}</strong> is in your shopping cart) <b class="data-checkout-count"></b></div>
                                    <a href="/checkout/" class="warning"><span class="fa fa-shopping-cart mr5"></span> @(Order it now)</a></div>
                            </div>
                            <div class="review">
                                <input type="range" value="4" step="0.25" id="backing4">
                                <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                                </div>
                                <a href="javascript:;">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;">Write a review</a>
                            </div>
                            <ul class="social-icons">
                                <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                                <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                                <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                                <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                                <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                            </ul>
                        </div>

                        <div class="product-page-content">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#Description" data-toggle="tab">Description</a></li>
                                @{if model.attributes.length}
                                <li><a href="#Information" data-toggle="tab">Carateristiques</a></li>
                                @{fi}
                                <li><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="Description">
                                    @{if model.body}
                                        @{!model.body.tidyCMS()}
                                        <br />
                                    @{fi}
                                </div>
                                <div class="tab-pane fade" id="Information">
                                    <table class="datasheet">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Additional features</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{foreach a in model.attributes}
                                            <tr>
                                                <td class="datasheet-features-type">@{a.key}</td>
                                                <td>@{if a.css}<span class="label" style="background-color: @{a.css};"> @{a.value} </span>@{else} @{a.value} @{fi}</td>
                                            </tr>
                                            @{end}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="Reviews">
                                    <!--<p>There are no reviews for this product.</p>-->
                                    <div class="review-item clearfix">
                                        <div class="review-item-submitted">
                                            <strong>Bob</strong>
                                            <em>30/12/2013 - 07:37</em>
                                            <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </div>                                              
                                        <div class="review-item-content">
                                            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                                        </div>
                                    </div>
                                    <div class="review-item clearfix">
                                        <div class="review-item-submitted">
                                            <strong>Mary</strong>
                                            <em>13/12/2013 - 17:49</em>
                                            <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </div>                                              
                                        <div class="review-item-content">
                                            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                                        </div>
                                    </div>

                                    <!-- BEGIN FORM-->
                                    <form action="#" class="reviews-form" role="form">
                                        <h2>Write a review</h2>
                                        <div class="form-group">
                                            <label for="name">Name <span class="require">*</span></label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="review">Review <span class="require">*</span></label>
                                            <textarea class="form-control" rows="8" id="review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Rating</label>
                                            <input type="range" value="4" step="0.25" id="backing5">
                                            <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                                            </div>
                                        </div>
                                        <div class="padding-top-20">                  
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                    <!-- END FORM--> 
                                </div>
                            </div>
                        </div>

                        @{if model.sale}<div class="sticker sticker-sale"></div>@{fi}
                        @{if model.new}<div class="sticker sticker-new"></div>@{fi}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{view('~/footers')}



<!--
            <div class="detail-category">@(Category:) <a href="@{sitemap_url('category')}@{model.linker_category}/">@{model.category}</a></div>

            @{if model.manufacturer}
            <div class="detail-category">@(Manufacturer:) <span class="blue">@{model.manufacturer}</span></div>
            @{fi}

            @{if model.reference}
            <div class="detail-reference">@(Item) # <b>@{model.reference}</b></div>
            @{fi}

           

            <div class="detail-checkout">
                <div>@(The product <b>@{model.name}</b> is in your shopping cart) <b class="data-checkout-count"></b>.</div>
                <span class="fa fa-shopping-cart mr5"></span><a href="/checkout/" class="b">@(Order it now)</a>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <div><button class="detail-buy" data-id="@{model.id}" data-price="@{model.prices.pu_ht}">@(Buy:) <b>@{currency(model.prices.pu_ht)}</b></button></div>
                    <div style="margin-top:15px"><span class="fa fa-envelope silver mr5"></span><a href="/contact/?productid=@{if model.reference}@{model.reference}@{else}@{model.id}@{fi}#contactform">@(Do you need more informations?)</a></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    @{foreach m in model.pictures}
    <div><img src="/images/large/@{m}.jpg" alt="@{m.name}" border="0" class="img-responsive center" /></div>
    <br />
    <hr />
    @{end}
    <br />
    <div class="hidden">
        <h2>@(Related) @{model.category}</h2>
        <div data-component="related" data-category="@{model.linker_category}" data-id="@{model.id}"></div>
    </div>
</div>-->
@{fi}