<div class="filter">
	<div class="container">
		<div class="caption"><span class="fa fa-navicon mr5"></span> @(Products)</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-component="textbox" data-component-path="products.filter.search" data-placeholder="@(Search products ...)" data-control-icon="fa-search"></div>
				<div class="help" data-component="template" data-component-path="products.info"><script type="text/html">{{ count | pluralize(@('items','item','items','items')) }} / {{ pages | pluralize(@('pages','page','pages','pages')) }}</script></div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-component="dropdown" data-component-path="products.filter.category" data-source="products.categories" data-empty="true" data-empty-text="@(All products)" data-source-value="linker"></div>
			</div>
			<div class="col-md-6 m">
				<div class="row">
					<div class="col-xs-4"><a href="javascript:void(0)" data-component="click" class="linkbutton" data-component-path="products_new"><span class="fa fa-plus-circle"></span>@(Add product)</a></div>
					<div class="col-xs-4"><a href="javascript:void(0)" data-component="click" class="linkbutton" data-component-path="products_import"><span class="fa fa-cloud-upload"></span>@(Import CSV)</a></div>
					<div class="col-xs-4"><a href="javascript:void(0)" data-component="click" class="linkbutton" data-component-path="products_category"><span class="fa fa-folder"></span>@(Replace category)</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div data-component="grid" data-component-path="products.grid" data-max="auto" data-options-page="@(Page: #)" data-options-button="@(Show more products)" data-component-id="products.grid">
		<script type="text/html">
		<tr>
			<td>{{ if pictures && pictures.length }}<span class="fa fa-photo mr5"></span>{{ fi }} {{ if istop }}<b class="mr5 fs11 red">@(TOP)</b>{{ fi }}{{ name }}</td>
			<td style="width:200px" class="silver hidden-xs"><span class="fa fa-folder"></span> {{ category }}</td>
			<td style="width:100px" class="ui-right active">{{ price | price(2) }}</td>
			<td style="width:80px" class="ui-right">
				<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
				<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
			</td>
		</tr>
		</script>
	</div>
</div>

<div data-component="form" data-title="@(Product evidence)" data-component-path="common.form" data-if="value === 'products'" data-width="900px" data-component-id="products.form">

	<div data-component="visible" data-component-path="products.form.id">
		<div data-component="template" data-component-path="products.form" class="padding" style="padding-bottom:0">
			<script type="text/html">
			<table class="table table-bordered" border="0">
				<tbody>
					<tr>
						<td class="col-xs-5 active">@(# id)</td>
						<td>{{ id }}</td>
					</tr>
					<tr>
						<td class="col-xs-5 active">@(Created)</td>
						<td>{{ datecreated | format('yyyy-MM-dd') }}</td>
					</tr>
				</tbody>
			</table>
			</script>
		</div>
	</div>

	<div class="padding" style="padding-bottom:0">
		<div class="row">
			<div class="col-md-12">
				<div data-component="textbox" data-component-path="products.form.name" data-required="true">@(Name)</div>
				<div data-component="checkbox" data-component-path="products.form.istop" style="margin-top:10px" class="red">@(Mark as <b>top product</b>)</div>
			</div>
		</div>
	</div>
	<br />
	<div class="padding bg-smoke">
		<div class="row">
			<div class="col-md-6 m">
				<div data-component="dropdown" data-component-path="products.form.category" data-source="products.categories" data-empty="true" data-source-value="name">@(Existing category)</div>
			</div>
			<div class="col-md-6 m">
				<div data-component="textbox" data-component-path="products.form.category" data-required="true">@(Category)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-component="textarea" data-component-path="products.form.body" data-required="true" data-height="100px">@(Description)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-component="textbox" data-component-path="products.form.price" data-required="true" data-align="center" data-component-type="currency" data-increment="true" data-icon="fa-shopping-cart">@(Price)</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div data-component="textbox" data-component-path="products.form.reference">@(Custom product code)</div>
			</div>
		</div>
	</div>
	<div class="padding">
		<div class="row">
			<div class="col-md-12 m">
				<div data-component="fileupload" data-component-path="products.form.pictures" data-placeholder="@(Browse device)" data-accept="image/jpeg" data-multiple="true" data-icon="fa-camera" data-extension="false">@(Pictures)</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div data-component="pictures" data-component-path="products.form.pictures"></div>
		</div>
	</div>
	<div data-component="error" data-component-path="products.response"></div>
	<div class="ui-form-buttons">
		<div data-component="validation" data-component-path="products.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-component="form" data-title="@(Category replacer)" data-component-path="common.form" data-if="value === 'products.category'" data-width="450px" data-top="true" data-component-id="products.category">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div class="silver">@(Replacement old category with new category name in all products which have old category.)</div>
				<hr />
				<div data-component="dropdown" data-component-path="products.category.category_old" data-source="products.categories" data-required="true" data-empty="true" data-source-value="name" class="m">@(Existing category)</div>
				<div data-component="textbox" data-component-path="products.category.category_new" data-required="true" class="m">@(New name)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-component="validation" data-component-path="products.category">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<!-- IMPORT CSV FILE -->
<input type="file" id="products_file_cvs" class="hidden" accept="text/csv" />

<script>

	var products = {};

	products.filter = {};
	products.filter.page = 1;

	products.grid = [];
	products.info = {};
	products.form = {};
	products.categories = [];
	products.response = null;

	products.category = {};

	ON('#products.grid', function(component) {

		// Max items per page
		products.filter.max = component.max;
		products_refresh_categories();
		products_refresh(true);

		component.click = function(index, row, button) {
			switch ($(button).attr('name')) {
				case 'edit':
					$.components.GET('/api/products/' + row.id, null, function(response, err) {

						// Error prevention
						if (response instanceof Array)
							response = {};

						SET('products.form', $.extend({ $index: index }, response), true);
						SET('products.response', null);
						SET('common.form', 'products');
					});
					break;
				case 'remove':
					if (!confirm('@(Do you want to remove) ' + row.name + '?'))
						return;
					$.components.DELETE(managerurl + '/api/products', { id: row.id }, function() {
						products_refresh(true);
					});
					break;
			}
		};

		component.next = function(page) {
			products.filter.page = page;
			products_refresh();
		};

		// CSV file uploading
		$('#products_file_cvs').on('change', function(e) {
			e.preventDefault();
			e.stopPropagation();
			loading(true);
			var el = this;
			var data = new FormData();
			data.append('file', this.files[0]);
			$.components.UPLOAD(managerurl + '/api/products/import/', data, function(response, err) {
				el.value = '';
				loading(false);
				if (!response.success)
					return;
				products_refresh(true);
				products_refresh_categories();
			});
		});
	});

	// Watch for changes in order filter
	WATCH('products.filter.*', function(path, value) {
		if (NOTMODIFIED('products.filter', products.filter))
			return;
		products_refresh(path !== 'products.filter.page');
	});

	ON('#products.form', function(component) {
		component.submit = function(hide) {
			$.components.POST(managerurl + '/api/products/', products.form, function(response) {

				// Error handling
				SET('products.response', response);
				if (response instanceof Array)
					return;

				hide();

				// Is a new category?
				if (products.form.$index === undefined || products.grid[products.form.$index].category !== products.form.category)
					setTimeout(products_refresh_categories, 2000);

				products_refresh(true);
				success();
			});
		};
	});

	ON('#products.category', function(component) {
		component.submit = function(hide) {
			RESET('products.category.*');
			$.components.POST(managerurl + '/api/products/category/', products.category, function(response) {
				setTimeout(function() {
					hide();
					products_refresh_categories();
					products_refresh(true);
					success();
				}, 1000);
			});
		};
	});

	function products_new() {
		SET('products.form', {}, true);
		SET('products.response', null);
		SET('common.form', 'products');
	}

	function products_category() {
		SET('products.category', {}, true);
		SET('common.form', 'products.category');
	}

	// Method refreshes categories
	function products_refresh_categories() {
		$.components.GET(managerurl + '/api/products/categories/', null, function(response) {
			response.sort(function(a, b) {
				return a.name.localeCompare(b.name);
			});
			SET('products.categories', response);
		});
	}

	// Method refreshes grid
	function products_refresh(reset) {

		if (reset) {
			products.filter.page = 1;
			products.grid = [];
		}

		$.components.GET(managerurl + '/api/products/', products.filter, function(response) {
			SET((reset ? '' : '+') + 'products.grid', response.items);
			if (!reset)
				return;
			products.info.count = response.count;
			products.info.pages = response.pages;
			UPDATE('products.info');
		});
	}

	function products_import() {
		$('#products_file_cvs').click();
	}
</script>