@{sitemap('settings')}

<div id="loading"></div>
<div class="padding">
	<br />
	<div class="center"><span class="fa fa-cogs fa-5x"></span></div>
	<br />
	<h1>@{title}</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<hr class="nmt" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<br />
			<div class="row">
				<div class="col-md-6 m">
					<div data-required="true" data-jc="textbox" data-jc-path="account.firstname" data-jc-value="''" data-maxlength="30">@(First name)</div>
				</div>
				<div class="col-md-6 m">
					<div data-required="true" data-jc="textbox" data-jc-path="account.lastname" data-jc-value="''" data-maxlength="30">@(Last name)</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m">
					<div data-jc="textbox" data-jc-path="account.phone" data-jc-type="phone" data-jc-value="''" data-maxlength="30" data-placeholder="@(International format)">@(Phone)</div>
				</div>
				<div class="col-md-6 m">
					<div data-required="true" data-jc="textbox" data-jc-path="account.email" data-jc-type="email" data-maxlength="120" data-jc-value="'@'">@(E-mail address)</div>
				</div>
			</div>
			<div data-jc="checkbox" data-jc-path="account.ispassword" class="m">@(I want to change my password)</div>
			<div data-jc="visible" data-jc-path="account.ispassword" class="hidden m padding bg-smoke" style="padding-bottom:10px">
				<div class="row">
					<div class="col-md-6 m">
						<div data-required="true" data-jc="textbox" data-jc-path="account.password" data-jc-type="password" data-jc-value="''">@(Password)</div>
					</div>
					<div class="col-md-6 m">
						<div data-required="true" data-jc="textbox" data-jc-path="account.passwordreply" data-jc-type="password" data-jc-value="''">@(Password again)</div>
					</div>
				</div>
			</div>
			<div data-jc="error" data-jc-path="account.response" style="margin-top:10px"></div>
			<div class="row">
				<div data-jc="validation" data-jc-path="account" data-if="value.ispassword && value.password === value.passwordreply" class="col-md-12 m">
					<button class="button button-small exec" disabled="disabled" data-exec="#doUpdate">@(SUBMIT)</button>
				</div>
			</div>
			<br />
			<br />
		</div>
	</div>
</div>

@{section script}
<script>
	var account = JSON.parse('@{json(user)}');
	account.password = account.passwordreply = '*************';

	OPERATION('doUpdate', function() {
		if (!jC.valid('account.*') || BLOCKED('create', 1000))
			return;
		RESET('account.*');
		AJAX('PUT /api/users/settings/', account, function(response) {
			SET('account.response', response);
			response.success &&  SETTER('message', 'success', 'Your account information has been saved successfully.');
		});
	});
</script>
@{end}