.ecommerce .site-logo {
    padding-top: 12px;
    padding-bottom: 0px;
}

.carousel-slider .item {
    min-height: 400px;
}

.ecommerce .h1, .ecommerce .h2, .ecommerce .h3, .ecommerce .h4, .ecommerce .h5, .ecommerce .h6 {
    font-family: "PT Sans Narrow", sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#loading { background: rgba(255,255,255,0.9) url(../img/preloader.gif) no-repeat 50% 50%; position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 10; }