<div class="filter">
	<div class="container">
		<div class="caption"><span class="fa fa-file-text mr5"></span> @(Pages)</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-component="textbox" data-component-path="pages.filter.search" data-placeholder="@(Search pages ...)" data-control-icon="fa-search"></div>
				<div class="help" data-component="template" data-component-path="pages.info"><script type="text/html">{{ count | pluralize(@('items','item','items','items')) }} / {{ pages | pluralize(@('pages','page','pages','pages')) }}</script></div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-component="dropdown" data-component-path="pages.filter.navigation" data-source="pages.dependencies.navigations" data-empty="true" data-empty-text="@(All pages)"></div>
			</div>
			<div class="col-md-6 m">
				<div class="row">
					<div class="col-xs-4"><a href="javascript:void(0)" data-component="click" data-component-path="pages_new" class="linkbutton"><span class="fa fa-file-text"></span>@(Add new page)</a></div>
					<div class="col-xs-4"><a href="javascript:void(0)" data-component="click" data-component-path="widgets_new" class="linkbutton"><span class="fa fa-plug"></span>@(Add new widget)</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<ul class="tabmenu" data-component="tabmenu" data-component-path="pages.tab">
		<li data-value="pages">@(Pages)</li>
		<li data-value="widgets">@(Widgets)</li>
	</ul>

	<div class="row" data-component="visible" data-component-path="pages.tab" data-if="value === 'pages'">
		<div class="col-md-12">
			<div data-component="grid" data-component-path="pages.grid" data-max="100" data-options-page="@(Page: #)" data-options-button="@(Show more pages)" data-component-id="pages.grid">
				<script type="text/html">
				<tr>
					<td{{ if ispartial }} class="green"{{ fi }}>{{ if language }}<span class="fs11 silver mr5">{{ language }}</span>{{ fi }}{{ if icon }}<span class="fa fa-{{ icon }} w18 mr5"></span>{{ fi }}{{ name }}</td>
					<td class="col-xs-3 silver fs11 hidden-xs"><span class="fa fa-globe"></span> {{ url }}</td>
					<td class="col-xs-2 silver fs11 hidden-xs">{{ if navigations && navigations.length > 0 }}<span class="fa fa-sitemap"></span> {{ navigations | join }}{{ fi }}</td>
					<td style="width:110px" class="ui-right">{{ if ispartial }}<span class="fs11 silver">ID: {{ id }}</span>{{ else }}<a href="{{ url }}" class="fs11" target="_blank">@(show page)</a>{{ fi }}</td>
					<td style="width:80px" class="ui-right">
						<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
						<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
				</script>
			</div>
		</div>
	</div>

	<div class="row hidden" data-component="visible" data-component-path="pages.tab" data-if="value === 'widgets'">
		<div class="col-md-12" data-component="visible" data-component-path="widgets.grid" data-if="value && value.length > 0">
			<div data-component="grid" data-component-path="widgets.grid" data-max="1000" data-component-id="widgets.grid">
				<script type="text/html">
				<tr>
					<td{{ if istemplate}} class="silver"{{ fi }}><span class="fa fa-{{ if icon }}{{ icon }}{{ else if istemplate }}code{{ else }}plug{{ fi }} w18 mr5"></span> {{ name }}</td>
					<td class="col-xs-3 silver fs11 hidden-xs">{{ category }}</td>
					<td style="width:80px" class="ui-right">
						<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
						<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
				</script>
			</div>
		</div>
	</div>
</div>

<div data-component="form" data-title="@(Page form)" data-component-path="common.form" data-if="value === 'pages'" data-width="1200px" data-component-id="pages.form">
	<div class="padding" style="padding-bottom:10px">
		<div class="row">
			<div class="col-md-4 m">
				<div data-component="textbox" data-component-path="pages.form.title" data-required="true" data-placeholder="@(Page title)">@(Title)</div>
				<div data-component="template" data-component-path="pages.form" class="fs11 mt5 silver">
					<script type="text/html">
						<b>ID:</b> {{ id | default('.....') }}
					</script>
				</div>
			</div>
			<div class="col-md-4 m">
				<div data-component="textbox" data-component-path="pages.form.url" data-required="true" data-placeholder="@(Page relative URL address)" data-icon="fa-globe">@(URL address)</div>
				<div data-component="checkbox" data-component-path="pages.form.ispartial" class="fs11 green mt5">@(Is partial content)</div>
			</div>
			<div class="col-md-4 m">
				<div data-component="dropdown" data-component-path="pages.form.template" data-source="pages.dependencies.templates" data-empty="true">@(Template)</div>
				<div class="mt5 fs11" style="float:left"><a href="javascript:void(0)" data-component="click" data-component-path="pages_new_content"><span class="fa fa-code mr5"></span>@(Create custom content)</a></div>
				<div class="cl"></div>
			</div>
		</div>
	</div>
	<hr style="margin:0 0 8px" />
	<div class="help ui-center" style="margin-bottom:8px;padding:0 20px"><b>@(Editor formatting:)</b> @(bold) (&#8984+B), @(italic) (&#8984+I), @(underline) (&#8984+U), @(link) (&#8984+L). <a href="javascript:void(0)" data-component="click" data-component-path="pages_sourcecode" class="black"><span class="fa fa-code w18"></span>@(Show source-code)</a></div>
	<div class="pages-editor" data-component="editor" data-component-path="pages.form.body" data-component-import="/templates/component-editor.html" data-component-id="pages.editor"></div>
	<div class="padding npb bg-fade">
		<br />
		<div class="row">
			<div class="col-md-6 m">
				<div data-component="disable" data-component-path="pages.form.ispartial" data-if="value" data-selector=".ui-dropdowncheckbox">
					<div data-component="dropdowncheckbox" data-component-path="pages.form.navigations" data-source="pages.dependencies.navigations" data-icon="fa-bars" data-empty="@(Doesn't contain any navigation.)">@(Navigation)</div>
					<div class="help m">@(Where will be the page shown?)</div>
					<div data-component="dropdowncheckbox" data-component-path="pages.form.partial" data-source="pages.partial" data-icon="fa-database" data-empty="@(Doesn't contain any partial pages.)">@(Nested partial pages)</div>
				</div>
			</div>
			<div class="col-md-6 m">
				<div class="row">
					<div class="col-md-12 m" data-component="disable" data-component-path="pages.form.ispartial" data-if="value">
						<div data-component="dropdown" data-component-path="pages.form.parent" data-source="pages.sitemap" data-source-text="name" data-source-value="id" data-empty="true" data-icon="fa-sitemap">@(Parent)</div>
						<div class="help">@(Affects sitemap and breadcrumb.)</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 m">
						<div data-component="textbox" data-component-path="pages.form.name" data-maxlenght="50">@(Name)</div>
					</div>
					<div class="col-md-6 m">
						<div data-component="textbox" data-component-path="pages.form.keywords" data-maxlenght="80" data-icon="fa-tags">@(Keywords)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padding">
		<div class="row">
			<div class="col-md-6 m">
				<div data-component="textboxtags" data-component-path="pages.form.tags">@(Internal tags)</div>
			</div>
			<div class="col-md-2 m">
				<div data-component="textbox" data-component-path="pages.form.priority" data-align="center" data-component-type="number" data-maxlength="3" data-increment="true" data-icon="fa-sort-amount-desc">@(Priority)</div>
				<div class="help">@(Affects navigation ordering.)</div>
			</div>
			<div class="col-md-2 m">
				<div data-component="textbox" data-component-path="pages.form.language" data-align="center" data-maxlength="2" data-icon="fa-flag" data-placeholder="e.g. en">@(Language)</div>
			</div>
			<div class="col-md-2 m">
				<div data-component="textbox" data-component-path="pages.form.icon" data-align="center" data-maxlength="20" data-placeholder="e.g. home" data-icon="fa-camera">@(Icon)</div>
				<div class="help"><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font-Awesome</a> @(without) <code>fa-</code></div>
			</div>
		</div>
	</div>
	<div data-component="error" data-component-path="pages.response"></div>
	<div class="ui-form-buttons">
		<div data-component="validation" data-component-path="pages.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-component="form" data-title="@(Widget form)" data-component-path="common.form" data-if="value === 'widgets'" data-width="900px" data-component-id="widgets.form">
	<div class="padding" style="padding-bottom:0">
		<div class="row">
			<div class="col-md-12">
				<div data-component="textbox" data-component-path="widgets.form.name" data-required="true">@(Name)</div>
				<div data-component="template" data-component-path="widgets.form" class="fs11 mt5 silver">
					<script type="text/html">
						<b>ID:</b> {{ id | default('.....') }}
					</script>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="padding" style="padding-bottom:10px;padding-top:0">
		<div data-component="checkbox" data-component-path="widgets.form.istemplate" class="b">@(Is only HTML template)</div>
		<br />
		<div class="row">
			<div class="col-md-12 m">
				<div data-component="codemirror" data-component-path="widgets.form.body" data-height="350px" class="ui-textarea-code" data-icon="fa-code">@(Body)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 m">
				<div data-component="textbox" data-component-path="widgets.form.icon" data-placeholder="e.g. home" data-icon="fa-camera">@(Icon)</div>
				<div class="help"><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font-Awesome</a> @(without) <code>fa-</code></div>
			</div>
			<div class="col-md-6 m">
				<div data-component="textbox" data-component-path="widgets.form.category" data-placeholder="e.g. Headers" data-icon="fa-folder">@(Category)</div>
			</div>
		</div>
	</div>
	<div data-component="error" data-component-path="widgets.response"></div>
	<div class="ui-form-buttons">
		<div data-component="validation" data-component-path="widgets.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-component="form" data-title="@(Create custom HTML content)" data-component-path="pages.window" data-if="value === 'html'" data-width="1100px" data-top="true" data-component-id="pages.html">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div class="silver">@(The form loads template from the server <u>without default content</u> and creates a new content according to <b>HTML</b> editor. The existing content will be replaced.)</div>
				<hr />
				<div data-component="dropdown" data-component-path="pages.html.template" data-source="pages.dependencies.templates" class="m" data-empty="true" data-required="true">@(Template)</div>
				<div data-component="codemirror" data-component-path="pages.html.body" data-icon="fa-code" data-height="300px" data-required="true" class="ui-textarea-code">@(HTML)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-component="validation" data-component-path="pages.html">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	// PAGES
	var pages = {};
	pages.grid = [];
	pages.sitemap = [];
	pages.tab = 'pages';

	pages.filter = {};
	pages.filter.page = 1;
	pages.filter.navigation = '';
	pages.filter.search = '';

	pages.dependencies = {};
	pages.form = {};
	pages.info = {};
	pages.response = null;

	pages.window = '';
	pages.html = {};

	ON('#pages.grid', function(component) {

		pages.filter.max = component.max;

		pages_refresh_dependencies();
		pages_refresh(true);
		pages_refresh_sitemap();

		component.click = function(index, row, button) {
			var loading = FIND('loading');
			switch ($(button).attr('name')) {
				case 'edit':
					pages_edit(row.id);
					break;
				case 'remove':
					FIND('confirm').confirm('@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function(index) {
						if (index)
							return;
						loading.show(true);
						AJAX('DELETE {0}/api/pages'.format(managerurl), { id: row.id }, function() {
							loading.hide(500);
							pages_refresh(true);
							setTimeout(pages_refresh_sitemap, 2000);
						});
					});
					break;
			}
		};

		component.next = function(page) {
			SET('pages.filter.page', page);
		};

		WATCH('pages.form.template', function(path, value, type) {
			FIND('#pages.editor').setTemplate(value);
			if (type === 2)
				SET('pages.form.body', '');
		});
	});

	ON('#pages.form', function(component) {
		// Submit order form
		component.submit = function(hide) {
			var loading = FIND('loading');
			var editor = FIND('#pages.editor');

			loading.show();
			editor.save(function() {
				var widgets = editor.getWidgets();
				pages.form.pictures = editor.getPictures();
				pages.form.perex = editor.getPerex();
				pages.form.body = editor.getContent().replace(/\n[\s\t]+\n/g, '\n');
				pages.form.search = editor.getKeywords();
				pages.form.widgets = widgets.widgets;
				pages.form.settings = widgets.settings;

				if (pages.form.ispartial) {
					pages.form.navigations = null;
					pages.form.partial = null;
					pages.form.parent = '';
				}

				AJAX('POST {0}/api/pages/'.format(managerurl), pages.form, function(response) {

					// Error handling
					SET('pages.response', response);
					loading.hide(500);

					if (response instanceof Array)
						return;

					hide();
					success();
					pages_refresh(true);
					setTimeout(pages_refresh_sitemap, 2000);
				});
			});
		};
	});

	// Watchs changes in order filter
	WATCH('pages.filter.*', function(path, value) {
		if (NOTMODIFIED('pages.filter', pages.filter))
			return;
		pages_refresh(path !== 'pages.filter.page');
	});

	// Editor: Creates custom HTML
	ON('#pages.html', function(component) {
		component.submit = function(hide) {
			hide();
			var loading = FIND('loading');
			loading.show();
			setTimeout(function() {
				SET('pages.form.template', pages.html.template);
				SET('pages.form.body', pages.html.body, 10);
				loading.hide(500);
			}, 500);
		};
	});

	function pages_edit(id) {
		var loading = FIND('loading');
		loading.show();
		AJAX('GET {0}/api/pages/{1}/'.format(managerurl, id), function(response, err) {

			loading.hide(500);

			// Error prevention
			if (response instanceof Array) {
				FIND('message').warning(response[0].error);
				return;
			}

			var editor = FIND('#pages.editor');
			editor.setSettings(response.settings);

			SET('pages.response', null);
			FIND('#pages.editor').setTemplate(response.template);
			SET('pages.form', $.extend({ $index: index }, response), true);
			SET('common.form', 'pages');

			// /templates/component-editor.html:
			cmseditor_widgets(true);
		});
	}

	// Method refreshes grid
	function pages_refresh(reset) {

		if (reset) {
			pages.filter.page = 1;
			pages.grid = [];
		}

		AJAX('GET {0}/api/pages/'.format(managerurl), pages.filter, function(response) {

			if (pages.filter.navigation) {
				// Sorts pages by priority
				response.items.sort(function(a, b) {
					if (a.priority > b.priority)
						return -1;
					return a.priority === b.priority ? 0 : 1;
				});
			}

			SET((reset ? '' : '+') + 'pages.grid', response.items);

			if (pages.tab !== 'pages')
				SET('pages.tab', 'pages');

			if (!reset)
				return;

			pages.info.count = response.count;
			pages.info.pages = response.pages;

			UPDATE('pages.info');
		});
	}

	function pages_refresh_sitemap() {
		AJAX('GET {0}/api/pages/sitemap/'.format(managerurl), function(response) {
			// Converts object to Array
			var keys = Object.keys(response.sitemap);
			keys.sort();
			var sitemap = [];
			for (var i = 0, length = keys.length; i < length; i++)
				sitemap.push(response.sitemap[keys[i]]);
			SET('pages.sitemap', sitemap);
			SET('pages.partial', response.partial);
		});
	}

	// Refreshes templates and navigations
	function pages_refresh_dependencies() {
		AJAX('GET {0}/api/pages/dependencies/'.format(managerurl), 'pages.dependencies');
	}

	function pages_new() {
		SET('pages.response', null);
		// CMS creates automatically URL when the URL field will contain "---"
		SET('pages.form', { url: '---' }, true);
		SET('common.form', 'pages');

		// /templates/component-editor.html:
		cmseditor_widgets(true);
	}

	function pages_sourcecode() {
		FIND('#pages.editor').showSourceCode();
	}

	// Editor: Shows form with custom HTML
	function pages_new_content() {
		SET('pages.html.body', '  ');
		SET('pages.html.template', '');
		RESET('pages.html.*', true);
		SET('pages.window', 'html');
	}

	// WIDGETS
	var widgets = {};
	widgets.grid = [];
	widgets.form = {};
	widgets.response = null;

	ON('#widgets.grid', function(component) {
		widgets_refresh(true);
		component.click = function(index, row, button) {
			var loading = FIND('loading');
			switch ($(button).attr('name')) {
				case 'edit':
					loading.show();
					AJAX('GET {0}/api/widgets/{1}/'.format(managerurl, row.id), function(response, err) {
						// Error prevention
						if (response instanceof Array)
							response = {};

						SET('widgets.response', null);
						SET('widgets.form', $.extend({ $index: index }, response), true);
						SET('common.form', 'widgets');
						loading.hide();
					});
					break;
				case 'remove':
					FIND('confirm').confirm('@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function(index) {
						if (index)
							return;
						loading.show();
						AJAX('DELETE {0}/api/widgets/'.format(managerurl), { id: row.id }, function() {
							widgets_refresh();
							loading.hide(500);
						});
					});
					break;
			}
		};
	});

	ON('#widgets.form', function(component) {
		// Submit widget form
		component.submit = function(hide) {
			var loading = FIND('loading');
			loading.show();
			AJAX('POST {0}/api/widgets/'.format(managerurl), widgets.form, function(response) {

				loading.hide(500);

				// Error handling
				SET('widgets.response', response);
				if (response instanceof Array)
					return;

				if (pages.tab !== 'widgets')
					SET('pages.tab', 'widgets');

				hide();
				success();
				widgets_refresh();
			});
		};
	});

	// Method refreshes grid
	function widgets_refresh() {
		AJAX('GET {0}/api/widgets/'.format(managerurl), function(response) {
			SET('widgets.grid', response);
		});
	}

	function widgets_new() {
		SET('widgets.response', null);
		SET('widgets.form', {}, true);
		SET('common.form', 'widgets');
	}

	function pages_reload() {
		var hash = location.hash;
		if (hash && hash.length > 1) {
			setTimeout(function() {
				pages_edit(hash.substring(1));
			}, 500);
		}
	}

</script>