<div class="filter">
	<div class="container">
		<div class="caption" style="margin-bottom:10px"><span class="fa fa-cogs mr5"></span> @(System)</div>
	</div>
</div>
<div class="container">
	<div class="b">@(Backuping)</div>
	<br />
	<table class="table table-bordered">
		<tr>
			<td><span class="fa fa-cloud-download mr5"></span> @(Backup full website)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_backup_website">@(Backup now)</a></td>
		</tr>
	</table>
	<br />
	<div class="b">@(Clearing)</div>
	<br />
	<table class="table table-bordered">
		<tr>
			<td><span class="fa w18 fa-navicon"></span> @(Clear all products)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_products">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-shopping-cart"></span> @(Clear all orders)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_orders">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-file-text"></span> @(Clear all pages)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_pages">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-users"></span> @(Clear all users)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_users">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-file-text"></span> @(Clear all widgets)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_widgets">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-image"></span> @(Clear all files)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_files">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-envelope"></span> @(Clear newsletter list)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_newsletter">@(Clear now)</a></td>
		</tr>
		<tr>
			<td><span class="fa w18 fa-bar-chart"></span> @(Clear visitor stats)</td>
			<td class="ui-center bg-smoke" style="width:120px"><a href="javascript:void(0)" data-component="click" data-component-path="system_clear_webcounter">@(Clear now)</a></td>
		</tr>
	</table>
	<br />
	<br />
</div>

<script>
// Backup website
function system_backup_website() {
	FIND('loading').show().hide(5000);
	location.href = managerurl + '/api/backup/website/';
}

function system_clear_products() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/products/clear/'.format(managerurl), function() {
			success();
			if (window.products_refresh)
				window.products_refresh(true);
		});
	});
}

function system_clear_orders() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/orders/clear/'.format(managerurl), function() {
			success();
			if (window.orders_refresh)
				window.orders_refresh(true);
		});
	});
}

function system_clear_users() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/users/clear/'.format(managerurl), function() {
			success();
			if (window.users_refresh)
				window.users_refresh(true);
		});
	});
}

function system_clear_pages() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/pages/clear/'.format(managerurl), function() {
			success();
			if (window.pages_refresh)
				window.pages_refresh(true);
		});
	});
}

function system_clear_widgets() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/widgets/clear/'.format(managerurl), function() {
			success();
			if (window.widgets_refresh)
				window.widgets_refresh();
		});
	});
}

function system_clear_files() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/files/clear/'.format(managerurl), function() {
			success();
		});
	});
}

function system_clear_newsletter() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/newsletter/clear/'.format(managerurl), function() {
			success();
			if (window.newsletter_refresh)
				window.newsletter_refresh(true);
		});
	});
}

function system_clear_webcounter() {
	FIND('confirm').confirm('@(Please, confirm clearing of the database.)', ['Clear', 'Cancel'], function(index) {
		if (index)
			return;
		FIND('loading').show();
		AJAX('GET {0}/api/dashboard/clear/'.format(managerurl), function() {
			success();
			setTimeout(function() {
				location.reload(true);
			}, 1500);
		});
	});
}
</script>