<!DOCTYPE html>
<html>
<head>
	@{meta}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	@{head}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	@{import('default.css', 'editor.css', 'favicon.ico')}
</head>
<body>
	<br />
	<br />
	<div class="container">
		@{body}
	</div>
	<br />
	<br />
</body>
</html>