<!DOCTYPE html>
<html>
<head>
    <title>EMAIL</title>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
</head>
<body style="background-color:#F0F0F0;padding:20px;font-family:Arial;font-size:14px;margin:0">
    <br />
    <div style="margin:0 auto;max-width:600px;text-align:center"><a href="@{config.custom.url}"><img src="@{config.custom.url}/img/logo.png" alt="Eshop" border="0" /></a></div>
    <br />
    <div style="margin:0 auto;max-width:580px;padding:30px;background-color:white;border-radius:4px;color:#656D78;line-height:18px">
        @{body}
    </div>
    <div style="text-align:center;font-size:11px;margin:15px 0 0;color:#505050">&copy; 2015 @{config.name}</div>
</body>
</html>