<div class="filter">
	<div class="container">
		<nav class="buttons">
			<a href="javascript:void(0)" class="exec" data-exec="pages_menu"><i class="fa fa-navicon"></i><span>@(Options)</span></a>
		</nav>
		<div class="caption"><i class="fa fa-file-text"></i>@(Pages)</div>
		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="pages.filter.search" data-placeholder="@(Search pages ...)" data-jc-type="search"></div>
				<div class="help" data-jc="template" data-jc-path="pages.grid"><script type="text/html">{{ count | pluralize(@('# items','# item','# items','# items')) }} / {{ pages | pluralize(@('# pages','# page','# pages','# pages')) }}</script></div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="pages.filter.navigation" data-source="pages.dependencies.navigations" data-empty="@(All pages)"></div>
				<div>&nbsp;</div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="pages.filter.template" data-source="pages.dependencies.templates" data-empty="@(All templates)"></div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="pages.filter.language" data-source="languages" data-empty="@(All languages)"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="tabmenu" data-jc="tabmenu" data-jc-path="pages.tab">
		<div data-jc="visible" data-jc-path="pages.tab" data-if="value === 'widgets'" class="hidden">
			<a href="javascript:void(0)" class="exec" data-exec="widgets_import"><i class="fa fa-cloud-upload"></i>@(Import widgets)</a>
			<a href="javascript:void(0)" class="exec" data-exec="widgets_export"><i class="fa fa-cloud-download"></i>@(Exports widgets)</a>
			<a href="javascript:void(0)" class="exec" data-exec="widgets_new"><i class="fa fa-plus-circle"></i>@(Add new widget)</a>
		</div>
		<div data-jc="visible" data-jc-path="pages.tab" data-if="value === 'pages'" class="hidden">
			<a href="javascript:void(0)" class="exec" data-exec="pages_new"><i class="fa fa-plus-circle"></i>@(Add page)</a>
		</div>
		<ul>
			<li data-value="pages">@(Pages)</li>
			<li data-value="widgets">@(Widgets)</li>
		</ul>
	</div>

	<div class="row" data-jc="visible" data-jc-path="pages.tab" data-if="value === 'pages'">
		<div class="col-md-12">
			<div data-jc="grid" data-jc-path="pages.grid" data-pagination-path="pages.filter.page" data-jc-id="pages.grid" data-max="auto" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)">
				<script type="text/html">
				<tr>
					<td{{ if ispartial }} class="green"{{ fi }}>{{ if language }}<span class="fs11 silver mr5">{{ language }}</span>{{ fi }}{{ if icon }}<span class="fa fa-{{ icon }} w18 mr5"></span>{{ fi }}{{ name }}</td>
					<td class="col-xs-3 silver fs11 hidden-xs"><span class="fa fa-globe"></span> {{ url }}</td>
					<td class="col-xs-2 fs11 hidden-xs">{{ if navigations && navigations.length > 0 }}<span class="fa fa-sitemap"></span> {{ navigations | join }}{{ fi }}</td>
					<td style="width:40px" class="ui-center silver fs10 hidden-xs active">{{ priority }}</td>
					<td style="width:160px" class="ui-right">{{ if ispartial }}<span class="fs11 silver">ID: {{ id }}</span>{{ else }}<a href="{{ url }}" class="fs11" target="_blank">@(show page)</a>{{ fi }}</td>
					<td style="width:70px" class="ui-right">
						<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
						<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
				</script>
			</div>
		</div>
	</div>

	<div class="row hidden" data-jc="visible" data-jc-path="pages.tab" data-if="value === 'widgets'">
		<div class="col-md-12">
			<div data-jc="grid" data-jc-path="widgets.grid" data-jc-id="widgets.grid" data-max="1000" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)">
				<script type="text/html">
				<tr>
					<td class="{{ if istemplate}}gray{{ else }}b{{ fi }}"><span class="fa fa-{{ if icon }}{{ icon }}{{ else if istemplate }}code{{ else }}plug{{ fi }} w18 mr5"></span> {{ name }}</td>
					<td class="col-xs-3 silver fs11 hidden-xs">{{ category }}</td>
					<td class="silver fs11 hidden-xs" style="width:160px">ID: {{ id }}</td>
					<td style="width:80px" class="ui-right">
						<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
						<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
					</td>
				</tr>
				</script>
			</div>
		</div>
	</div>
</div>

<div data-jc="form" data-title="@(Page form)" data-jc-path="common.form" data-if="value === 'pages'" data-width="1300px" data-jc-id="pages.form" class="hidden">
	<div class="padding" style="padding-bottom:10px">
		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="pages.form.title" data-required="true" data-placeholder="@(Page title)">@(Title)</div>
				<div data-jc="template" data-jc-path="pages.form" class="fs11 mt5 silver">
					<script type="text/html">
						<b>ID:</b> {{ id | default('.....') }}
					</script>
				</div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="pages.form.url" data-required="true" data-placeholder="@(Page relative URL address)" data-icon="fa-globe">@(URL address)</div>
				<div data-jc="checkbox" data-jc-path="pages.form.ispartial" class="green mt10">@(Is partial content)</div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="pages.form.template" data-source="pages.dependencies.templates" data-empty="" data-required="true">@(Template)</div>
				<div class="mt5 fs11" style="float:left"><a href="javascript:void(0)" class="exec" data-exec="pages_new_content"><span class="fa fa-code mr5"></span>@(Create custom content)</a></div>
				<div class="cl"></div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="pages.form.language" data-align="center" data-maxlength="2" data-icon="fa-flag" data-source="languages" data-empty="">@(Language)</div>
			</div>
		</div>
	</div>
	<hr style="margin:0 0 8px" />
	<div class="cmseditor-help">
		<nav><i class="fa fa-desktop"></i><a href="javascript:pages_device(1)">@(Large)</a><a href="javascript:pages_device(2)">@(Medium)</a><a href="javascript:pages_device(3)">@(Tablet)</a><a href="javascript:pages_device(4)">@(Mobile)</a></nav>
		<div><b>@(Editor formatting:)</b> @(bold) (&#8984+B), @(italic) (&#8984+I), @(underline) (&#8984+U), @(link) (&#8984+L). <a href="javascript:void(0)" data-exec="pages_sourcecode" class="exec black"><span class="fa fa-code w18"></span>@(Show source-code)</a></div>
	</div>
	<div class="pages-editor" data-jc="editor" data-jc-path="pages.form.body" data-jc-import="/templates/component-editor.html" data-jc-id="pages.editor" data-jc-released="true"></div>
	<div data-jc="visible" data-jc-path="pages.form.id" data-if="value && value.length">
		<div class="padding npb">
			<div class="row">
				<div class="col-lg-2 col-md-3 m">
					<div class="keyvalue">
						<div class="key">@(# Id)</div>
						<div class="value" data-binder="pages.form.id" data-binder-html="n => n"></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 m">
					<div class="keyvalue">
						<div class="key"><i class="fa fa-calendar"></i>@(Created)</div>
						<div class="value" data-binder="pages.form.datecreated" data-binder-html="n => Tangular.helpers.time(n)"></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 m">
					<div class="keyvalue">
						<div class="key"><i class="fa fa-calendar"></i>@(Updated)</div>
						<div class="value" data-binder="pages.form.dateupdated" data-binder-html="n => n ? Tangular.helpers.time(n) : '@(unchanged)'"></div>
					</div>
				</div>
				<div class="col-lg-6 m">
					<div data-jc="nosqlcounter" data-jc-path="pages.form.stats" style="height:52px" data-count="16"></div>
					<div class="help"><i class="fa fa-bar-chart"></i>@(Stats of all views for last 16 months)</div>
				</div>
			</div>
		</div>
		<hr class="nmt" />
	</div>
	<div data-jc="expander" data-jc-id="pages.form.expander">
		<div class="padding npb">
			<br />
			<div class="section">
				<hr />
				<span><i class="fa fa-cog"></i>@(Advanced settings)</span>
			</div>
			<div class="row">
				<div class="col-md-4 m" data-jc="disable" data-jc-path="pages.form.ispartial" data-if="value" data-selector=".ui-dropdowncheckbox">
					<div data-jc="dropdowncheckbox" data-jc-path="pages.form.navigations" data-source="pages.dependencies.navigations" data-icon="fa-bars" data-empty="@(Doesn't contain any navigation.)">@(Navigation)</div>
					<div class="help m">@(Where will be the page shown?)</div>
				</div>
				<div class="col-md-4 m" data-jc="disable" data-jc-path="pages.form.ispartial" data-if="value" data-selector=".ui-dropdowncheckbox">
					<div data-jc="dropdowncheckbox" data-jc-path="pages.form.partial" data-source="pages.partial" data-icon="fa-database" data-empty="@(Doesn't contain any partial pages.)">@(Nested partial pages)</div>
					<div class="help">@(Join other partial pages with this.)</div>
				</div>
				<div class="col-md-4 m" data-jc="disable" data-jc-path="pages.form.ispartial" data-if="value">
					<div data-jc="dropdown" data-jc-path="pages.form.parent" data-source="pages.sitemap2" data-source-text="name" data-source-value="id" data-empty="" data-icon="fa-sitemap">@(Parent)</div>
					<div class="help">@(Affects sitemap and breadcrumb.)</div>
				</div>
			</div>
		</div>
		<hr class="nmt" />
		<div class="padding">
			<div class="row">
				<div class="col-md-4 m">
					<div data-jc="textbox" data-jc-path="pages.form.name" data-maxlenght="50">@(Name)</div>
					<div class="help">@(Name in sitemap.)</div>
				</div>
				<div class="col-md-4 m">
					<div data-jc="textbox" data-jc-path="pages.form.keywords" data-maxlenght="80" data-icon="fa-tags">@(Keywords)</div>
					<div class="help">@(Meta keywords, maximum 6 words.)</div>
				</div>
				<div class="col-md-4">
					<div data-jc="textbox" data-jc-path="pages.form.description" data-maxlenght="120" data-icon="fa-align-center">@(Description)</div>
					<div class="help">@(Meta description, maximum 120 chars.)</div>
				</div>
			</div>
		</div>
		<hr class="nmt" />
		<div class="padding npb">
			<div class="row">
				<div class="col-md-2 m">
					<div data-jc="textbox" data-jc-path="pages.form.icon" data-align="center" data-maxlength="20" data-placeholder="e.g. home" data-icon="fa-camera">@(Icon)</div>
					<div class="help"><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font-Awesome</a> @(without) <code>fa-</code></div>
				</div>
				<div class="col-md-2 m">
					<div data-jc="textbox" data-jc-path="pages.form.priority" data-align="center" data-jc-type="number" data-maxlength="3" data-increment="true" data-icon="fa-sort-amount-desc">@(Priority)</div>
					<div class="help">@(Affects navigation ordering.)</div>
				</div>
			</div>
		</div>
	</div>
	<div data-jc="error" data-jc-path="pages.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="pages.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-jc="form" data-title="@(Widget form)" data-jc-path="common.form" data-if="value === 'widgets'" data-width="900px" data-jc-id="widgets.form" class="hidden">
	<div class="padding npb">
		<div class="row">
			<div class="col-md-12">
				<div data-jc="textbox" data-jc-path="widgets.form.name" data-required="true">@(Name)</div>
				<div data-jc="template" data-jc-path="widgets.form" class="fs11 mt5 silver">
					<script type="text/html">
						<b>ID:</b> {{ id | default('.....') }}
					</script>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="padding" style="padding-bottom:10px;padding-top:0">
		<div data-jc="checkbox" data-jc-path="widgets.form.istemplate" class="b">@(Is only HTML template)</div>
		<br />
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="codemirror" data-jc-path="widgets.form.body" data-height="350px" class="ui-textarea-code" data-icon="fa-code" data-jc-released="true">@(Body)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="codemirror" data-jc-path="widgets.form.css" data-height="100px" class="ui-textarea-code" data-icon="fa-paint-brush" data-type="text/css" data-jc-released="true">@(CSS)</div>
				<div class="help">@(Widget can contain own CSS classes.)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 m">
				<div data-jc="textbox" data-jc-path="widgets.form.icon" data-placeholder="e.g. home" data-icon="fa-camera">@(Icon)</div>
				<div class="help"><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font-Awesome</a> @(without) <code>fa-</code></div>
			</div>
			<div class="col-md-4 m">
				<div data-jc="dropdown" data-jc-path="widgets.form.category" data-source="widgets.categories" data-source-text="name" data-source-value="name" data-icon="fa-folder" data-empty="">@(Existing category)</div>
			</div>
			<div class="col-md-4 m">
				<div data-jc="textbox" data-jc-path="widgets.form.category" data-placeholder="e.g. Headers">@(Category)</div>
			</div>
		</div>
	</div>
	<div data-jc="error" data-jc-path="widgets.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="widgets.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-jc="form" data-title="@(Create custom HTML content)" data-jc-path="pages.window" data-if="value === 'html'" data-width="1100px" data-jc-id="pages.html" class="hidden">
	<div class="padding">
		<div class="row">
			<div class="col-md-12">
				<div class="silver">@(The form loads template from the server <u>without default content</u> and creates a new content according to <b>HTML</b> editor. The existing content will be replaced.)</div>
				<hr />
				<div data-jc="dropdown" data-jc-path="pages.html.template" data-source="pages.dependencies.templates" class="m" data-empty="" data-required="true">@(Template)</div>
				<div data-jc="codemirror" data-jc-path="pages.html.body" data-icon="fa-code" data-height="500px" data-required="true" class="ui-textarea-code" data-jc-released="true">@(HTML)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="pages.html">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-jc="form" data-title="@(Exports widgets)" data-jc-path="common.form" data-if="value === 'widgets-export'" data-width="500px" data-jc-id="widgets.export" class="hidden">
	<div class="padding npt npb">
		<p class="silver">@(Please select widgets which want to export. Only templated widgets can be exported.)</p>
	</div>
	<hr />
	<div class="padding npt">
		<div data-jc="visible" data-jc-path="widgets.export.panel" data-if="value === 1" class="hidden">
			<div data-jc="textarea" data-jc-path="widgets.export.base64" data-height="200px">@(Data)</div>
			<div class="help">@(Copy the data above and share them with another Total.js CMS.)</div>
		</div>
		<div data-jc="visible" data-jc-path="widgets.export.panel" data-if="!value" class="hidden">
			<div data-jc="textbox" data-jc-path="widgets.export.search" data-jc-type="search" data-placeholder="@(Search widgets)"></div>
			<div data-jc="search" data-jc-path="widgets.export.search" data-selector=".ui-checkboxlist-search" data-class="hidden" class="mt10">
				<div data-jc="checkboxlist" data-jc-path="widgets.export.items" data-source="widgets.grid.items" data-source-value="id" data-source-text="name" data-jc-released="true" data-button="@(Select all)" data-if="n => n.istemplate" data-class="ui-checkboxlist-search">@(Existing widgets)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="widgets.export">
			<button name="submit">@(EXPORT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<div data-jc="form" data-title="@(Import widgets)" data-jc-path="common.form" data-if="value === 'widgets-import'" data-width="500px" data-jc-id="widgets.import" class="hidden">
	<div class="padding npt">
		<p class="silver">@(Please paste export of widgets into the field below:)</p>
		<div data-jc="textarea" data-jc-path="widgets.import.base64" data-height="200px" data-required="true">@(Data)</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="widgets.import">
			<button name="submit">@(IMPORT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	// PAGES
	var pages = {};
	pages.grid = {};
	pages.sitemap = [];
	pages.tab = 'pages';

	pages.filter = {};
	pages.filter.page = 1;
	pages.filter.navigation = '';
	pages.filter.search = '';

	pages.dependencies = {};
	pages.form = {};
	pages.response = null;

	pages.window = '';
	pages.html = {};

	ON('#pages.grid', function(component) {

		pages.filter.max = component.max;

		pages_refresh_dependencies();
		pages_refresh(true);
		pages_refresh_sitemap();

		component.click = function(index, row, button) {
			switch ($(button).attr('name')) {
				case 'edit':
					pages_edit(row.id, index);
					break;
				case 'remove':
					FIND('confirm').confirm('@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function(index) {
						if (index)
							return;
						var loading = FIND('loading').show(true);
						AJAX('DELETE {0}/api/pages'.format(managerurl), { id: row.id }, function() {
							loading.hide(500);
							pages_refresh();
							setTimeout(pages_refresh_sitemap, 2000);
						});
					});
					break;
			}
		};

		WATCH('pages.form.template', function(path, value, type) {
			FIND('#pages.editor').setTemplate(value);
			type === 2 && SET('pages.form.body', '');
		});

		FIND('.pages.form.icon', function(component) {
			component.find('input').on('focus', function() {
				pages_form_autocomplete_icons(this);
			});
		});

		FIND('.widgets.form.icon', function(component) {
			component.find('input').on('focus', function() {
				pages_form_autocomplete_icons(this);
			});
		});
	});

	WATCH('pages.sitemap', pages_form_language);
	WATCH('pages.form.language', pages_form_language);

	function pages_device(type) {
		var e = FIND('editor');
		SETTER('loading', 'show')('loading', 'hide', 1000);
		switch (type) {
			case 1:
				e.device('lg');
				return;
			case 2:
				e.device('md');
				return;
			case 3:
				e.device('sm');
				return;
			case 4:
				e.device('xs');
				return;
		}
	}

	function pages_form_language() {
		var lng = pages.form.language;
		var arr = [];
		pages.sitemap.forEach(function(item) {
			if (!lng || lng === item.language)
				arr.push(item);
		});
		SET('pages.sitemap2', arr);
	}

	function pages_form_autocomplete_icons(element) {
		FIND('autocomplete', function(component) {
			component.attach(element, function(q, render) {
				var arr = [];
				cmseditor.icons.forEach(function(icon) {
					arr.length < 5 && icon.indexOf(q) !== -1 && arr.push({ name: '<i class="fa fa-{0}"></i>{0}'.format(icon), value: icon });
				});
				render(arr);
			}, function(value, input) {
				input.val(value.value);
			}, 14, -5, 9);
		});
	}

	ON('#pages.form', function(component) {
		component.submit = function(hide) {
			var loading = FIND('loading').show();
			var editor = FIND('#pages.editor');

			editor.save(function() {
				var widgets = editor.getWidgets();
				pages.form.pictures = editor.getPictures();
				pages.form.perex = editor.getPerex();
				pages.form.body = editor.getContent().replace(/\n[\s\t]+\n/g, '\n');
				pages.form.search = editor.getKeywords();
				pages.form.widgets = widgets.widgets;
				pages.form.settings = widgets.settings;

				if (pages.form.ispartial) {
					pages.form.navigations = null;
					pages.form.partial = null;
					pages.form.parent = '';
				}

				AJAX('POST {0}/api/pages/'.format(managerurl), pages.form, function(response) {
					SET('pages.response', response);
					loading.hide(500);
					if (response instanceof Array)
						return;
					hide();
					success();
					pages_refresh();
					setTimeout(pages_refresh_sitemap, 2000);
				});
			});
		};
	});

	// Watchs changes in pages filter
	WATCH('pages.filter.*', function(path, value) {
		!NOTMODIFIED('pages.filter', pages.filter) && pages_refresh(path !== 'pages.filter.page');
	});

	// Editor: Creates custom HTML
	ON('#pages.html', function(component) {
		component.submit = function(hide) {
			hide();
			var loading = FIND('loading').show();
			setTimeout(function() {
				SET('pages.form.template', pages.html.template);
				SET('pages.form.body', pages.html.body, 10);
				loading.hide(500);
			}, 500);
		};
	});

	function pages_edit(id, index) {
		var loading = FIND('loading').show();
		AJAX('GET {0}/api/pages/{1}/'.format(managerurl, id), function(response) {

			loading.hide(500);

			// Error prevention
			if (response instanceof Array) {
				FIND('message').warning(response[0].error);
				return;
			}

			var editor = FIND('#pages.editor');
			editor.setSettings(response.settings);

			SET('pages.response', null);
			FIND('#pages.form.expander').toggle(false);
			FIND('#pages.editor').setTemplate(response.template);
			SET('pages.form', $.extend({ $index: index }, response), true);
			SET('common.form', 'pages');

			AJAX('GET {0}/api/pages/{1}/stats/'.format(managerurl, response.id), 'pages.form.stats');

			// /templates/component-editor.html:
			cmseditor_widgets(true);
		});
	}

	// Method refreshes grid
	function pages_refresh(reset) {
		if (reset)
			pages.filter.page = 1;
		AJAX('GET {0}/api/pages/'.format(managerurl), pages.filter, function(response) {
			pages.filter.navigation && response.items.sort(function(a, b) {
				return a.priority > b.priority ? -1 : a.priority === b.priority ? 0 : 1;
			});
			SET('pages.grid', response);
			pages.tab !== 'pages' && SET('pages.tab', 'pages');
		});
	}

	function pages_refresh_sitemap() {
		AJAX('GET {0}/api/pages/sitemap/'.format(managerurl), function(response) {
			var keys = Object.keys(response.sitemap);
			keys.sort();
			var sitemap = [];
			for (var i = 0, length = keys.length; i < length; i++)
				sitemap.push(response.sitemap[keys[i]]);
			SET('pages.sitemap', sitemap);
			SET('pages.partial', response.partial);
		});
	}

	// Refreshes templates and navigations
	function pages_refresh_dependencies() {
		AJAX('GET {0}/api/pages/dependencies/'.format(managerurl), 'pages.dependencies');
	}

	function pages_new() {
		SET('pages.response', null);
		// CMS creates automatically URL when the URL field will contain "---"
		SET('pages.form', { url: '---' }, true);
		FIND('#pages.form.expander').toggle(true);
		SET('common.form', 'pages');

		// /templates/component-editor.html:
		cmseditor_widgets(true);
	}

	function pages_sourcecode() {
		FIND('#pages.editor').showSourceCode();
	}

	// Editor: Shows form with custom HTML
	function pages_new_content() {
		SET('pages.html.body', '  ');
		SET('pages.html.template', '');
		RESET('pages.html.*', true);
		SET('pages.window', 'html');
	}

	function pages_menu(el) {
		var items = [];

		items.push({ name: '@(Add new page)', value: 'pages_new', icon: 'fa-font' });
		items.push({ name: '@(Add new widget)', value: 'widgets_new', icon: 'fa-plug' });

		FIND('contextmenu').show('right', el, items, function(value) {
			EXEC(value);
		}, -15, 10);
	}

	function pages_reload() {
		var hash = location.hash;
		hash && hash.length > 1 && setTimeout(function() {
			pages_edit(hash.substring(1), -1);
		}, 500);
	}

	// WIDGETS
	var widgets = {};
	widgets.grid = {};
	widgets.form = {};
	widgets.response = null;
	widgets.categories = [];
	widgets.export = {};

	ON('#widgets.grid', function(component) {
		widgets_refresh(true);
		component.click = function(index, row, button) {
			var loading = FIND('loading');
			switch ($(button).attr('name')) {
				case 'edit':
					loading.show();
					AJAX('GET {0}/api/widgets/{1}/'.format(managerurl, row.id), function(response) {
						// Error prevention
						if (response instanceof Array)
							response = {};
						SET('widgets.response', null);
						var model = $.extend({ $index: index }, response);

						if (model.body)
							model.body = cmseditor_prettify(model.body);

						SET('widgets.form', model, true);
						SET('common.form', 'widgets');
						loading.hide();
					});
					break;

				case 'remove':
					FIND('confirm').confirm('@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function(index) {
						if (index)
							return;
						loading.show();
						AJAX('DELETE {0}/api/widgets/'.format(managerurl), { id: row.id }, function() {
							widgets_refresh();
							loading.hide(500);
						});
					});
					break;
			}
		};
	});

	ON('#widgets.form', function(component) {
		// Submit widget form
		component.submit = function(hide) {
			var loading = FIND('loading').show();
			AJAX('POST {0}/api/widgets/'.format(managerurl), widgets.form, function(response) {
				loading.hide(500);
				SET('widgets.response', response);

				if (response instanceof Array)
					return;

				pages.tab !== 'widgets' && SET('pages.tab', 'widgets');
				hide();
				success();
				widgets_refresh();
			});
		};
	});

	// Method refreshes grid
	function widgets_refresh() {
		AJAX('GET {0}/api/widgets/'.format(managerurl), function(response) {

			var category = {};
			var arr = [];

			response.forEach(function(item) {
				if (!item.category)
					return;
				if (category[item.category])
					category[item.category]++;
				else
					category[item.category] = 1;
			});

			Object.keys(category).forEach(function(key) {
				arr.push({ name: key, count: category[key], search: key.toLowerCase() });
			});

			arr.sort(function(a, b) {
				return a.name.toLowerCase().removeDiacritics().localeCompare(b.name.toLowerCase().removeDiacritics());
			});

			SET('widgets.grid', { items: response, page: 1, pages: 1, count: response.length, limit: 1000 });
			SET('widgets.categories', arr);
		});
	}

	function widgets_new() {
		SET('widgets.response', null);
		SET('widgets.form', { istemplate: true }, true);
		SET('common.form', 'widgets');
	}

	function widgets_export() {
		SET('widgets.export', {}, true);
		SET('common.form', 'widgets-export');
	}

	function widgets_import() {
		SET('widgets.import', {}, true);
		SET('common.form', 'widgets-import');
	}

	ON('#widgets.export', function(component) {
		component.submit = function(hide) {

			if (widgets.export.panel)
				return hide();

			SETTER('loading', 'show');
			var builder = [];

			widgets.grid.items.forEach(function(item) {
				widgets.export.items.indexOf(item) !== -1 && builder.push(item);
			});

			widgets.export.items.waitFor(function(item, next) {
				AJAX('GET {0}/api/widgets/{1}/'.format(managerurl, item), function(response) {
					response && builder.push(response);
					setTimeout(next, 100);
				});
			}, function() {
				SET('widgets.export.base64', btoa(encodeURIComponent(JSON.stringify(builder))));
				SET('widgets.export.panel', 1);
				SETTER('loading', 'hide');
				setTimeout(function() {
					component.find('textarea').focus().select();
				}, 100);
			});
		};
	});

	ON('#widgets.import', function(component) {
		component.submit = function(hide) {

			var items;

			try {
				items = JSON.parse(decodeURIComponent(atob(widgets.import.base64)));
			} catch (e) {
				SETTER('message', 'warning', '@(The system can\'t deserialize data.)');
				return;
			}

			SETTER('loading', 'show');
			var are = false;

			items.waitFor(function(item, next) {
				var widget = widgets.grid.items.findItem('id', item.id);
				if (!widget)
					item.id = undefined;
				AJAX('POST {0}/api/widgets/'.format(managerurl), item, function(response) {
					if (response.success)
						are = true;
					next();
				});

			}, function() {
				SETTER('loading', 'hide');
				success();
				are && widgets_refresh();
				hide();
			});
		};
	});

</script>