<div class="filter">
	<div class="container">
		<div class="caption"><span class="fa fa-shopping-cart mr5"></span> @(Users)</div>
		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="textbox" data-jc-path="users.filter.search" data-placeholder="@(Search users ...)" data-jc-type="search"></div>
				<div class="help" data-jc="template" data-jc-path="users.grid"><script type="text/html">{{ count | pluralize(@('# items','# item','# items','# items')) }} / {{ pages | pluralize(@('# pages','# page','# pages','# pages')) }}</script></div>
			</div>
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="users.filter.gender" data-options="@(All users)|;@(Male)|male;@(Female)|female"></div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="nosqlcounter" data-jc-path="users.stats" style="height:48px" data-count="16"></div>
				<div class="help"><i class="fa fa-bar-chart"></i>@(Stats for last 16 months)</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div data-jc="grid" data-jc-path="users.grid" data-pagination-path="users.filter.page" data-jc-id="users.grid" data-max="auto" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)">
		<script type="text/html">
		<tr>
			<td><span class="mr5">{{ name }}</span> {{ id | oauth2 }}</td>
			<td style="width:220px" class="hidden-xs fs11">{{ email }}</td>
			<td style="width:100px" class="ui-right hidden-xs">{{ datecreated | format('@(yyyy-MM-dd)') }}</td>
			<td style="width:80px" class="ui-right">
				<button name="edit" title="@(Show)"><span class="fa fa-pencil"></span></button>
				<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
			</td>
		</tr>
		</script>
	</div>
</div>

<div data-jc="form" data-title="@(User form)" data-jc-path="common.form" data-if="value === 'users'" data-width="900px" data-jc-id="users.form">
	<br />
	<div data-jc="template" data-jc-path="users.form" class="padding npb">
		<script type="text/html">
		<table class="table table-bordered" border="0">
			<tbody>
				<tr>
					<td class="col-xs-4 active">@(# id)</td>
					<td>{{ id }}</td>
				</tr>
				<tr>
					<td class="col-xs-4 active">@(IP address)</td>
					<td>{{ ip }}</td>
				</tr>
				<tr>
					<td class="col-xs-4 active">@(Created)</td>
					<td>{{ datecreated | format('@(yyyy-MM-dd)') }}</td>
				</tr>
			</tbody>
		</table>
		</script>
	</div>

	<div class="padding npb">
		<div class="row">
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="users.form.name" data-required="true" data-maxlength="50">@(Name)</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="dropdown" data-jc-path="users.form.gender" data-options=";@(male)|male;@(female)|female">@(Gender)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="users.form.firstname" data-maxlength="50">@(First name)</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="users.form.lastname" data-maxlength="50">@(Last name)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="users.form.phone" data-maxlength="30" data-jc-type="phone">@(Phone)</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="users.form.email" data-maxlength="120" data-jc-type="email">@(Email)</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="padding">
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idfacebook" data-maxlength="30">Facebook #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idgoogle" data-maxlength="30">Google #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idlinkedin" data-maxlength="30">LinkedIn #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idlive" data-maxlength="30">Windows Live #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idyahoo" data-maxlength="30">Yahoo #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.iddropbox" data-maxlength="30">Dropbox #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idinstagram" data-maxlength="30">Instagram #</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<div data-jc="textbox" data-jc-path="users.form.idvk" data-maxlength="30">VKontakte #</div>
			</div>
		</div>
	</div>

	<div data-jc="error" data-jc-path="users.response"></div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="users.form">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>
	var users = {};

	users.filter = {};
	users.filter.page = 1;
	users.filter.type = 0;

	users.grid = {};
	users.form = {};
	users.response;

	ON('#users.grid', function(component) {

		// Max items per page
		users.filter.max = component.max;
		users_refresh(true);

		component.click = function(index, row, button) {
			switch ($(button).attr('name')) {
				case 'edit':
					users_edit(row.id);
					break;
				case 'remove':
					FIND('confirm').confirm('@(Do you want to remove selected user?)', ['@(OK)', '@(Cancel)'], function(index) {
						if (index)
							return;
						var loading = FIND('loading').show();
						AJAX('DELETE {0}/api/users'.format(managerurl), { id: row.id }, function() {
							users_refresh();
							loading.hide(500);
						});
					});
					break;
			}
		};
	});

	ON('#users.form', function(component) {
		// Submits user form
		component.submit = function(hide) {
			var loading = FIND('loading').show();
			AJAX('PUT {0}/api/users/'.format(managerurl), users.form, function(response) {
				loading.hide(500);

				// Error handling
				SET('users.response', response);
				if (response instanceof Array)
					return;

				hide();
				users_refresh();
				success();
			});
		};
	});

	function users_edit(id) {
		var loading = FIND('loading').show();
		AJAX('GET {0}/api/users/{1}'.format(managerurl, id), function(response) {
			loading.hide(500);

			// Error prevention
			if (response instanceof Array) {
				FIND('message').warning(response[0].error);
				return;
			}

			SET('users.form', $.extend({}, response), true);
			SET('users.response', null);
			SET('common.form', 'users');
		});
	}

	// Method refreshes grid
	function users_refresh(reset) {
		if (reset)
			users.filter.page = 1;
		AJAX('GET {0}/api/users/'.format(managerurl), users.filter, 'users.grid');
	}

	// Watchs changes in user filter
	WATCH('users.filter.*', function(path, value) {
		!NOTMODIFIED('users.filter', users.filter) && users_refresh(path !== 'users.filter.page');
	});

	Tangular.register('oauth2', function() {
		var prop = ['idfacebook', 'idlinkedin', 'idgoogle', 'iddropbox', 'idinstagram', 'idyandex', 'idyahoo', 'idvk', 'idlive'];
		var self = this;
		var builder = '';
		for (var i = 0, length = prop.length; i < length; i++) {
			var id = self[prop[i]];
			if (!id)
				continue;
			var icon = prop[i].replace('id', '');
			switch (icon) {
				case 'live':
					icon = 'windows';
					break;
				case 'idyandex':
					icon = 'search';
					break;
			}
			builder += '<span class="mr5 fa blue fa-' + icon + '"></span>';
		}

		return builder;
	});

	function users_reload() {
		var hash = location.hash;
		hash && hash.length > 1 && setTimeout(function() {
			users_edit(hash.substring(1));
		}, 500);
		AJAX('GET {0}/api/users/stats/'.format(managerurl), 'users.stats');
	}

</script>