<div class="filter">
	<div class="container">
		<div class="caption" style="margin-bottom:10px"><span class="fa fa-cogs mr5"></span> @(Internal settings)</div>
	</div>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.form.url" data-required="true">@(URL address)</div>
			<div class="help">@(It's used in payments and email messages.)</div>
		</div>
		<div class="col-md-4 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.form.emailcontactform" data-required="true" data-jc-type="email">@(Email for contact form)</div>
		</div>
		<div class="col-md-4 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.form.emailorderform" data-required="true" data-jc-type="email">@(Email for order form)</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.form.emailuserform" data-required="true" data-jc-type="email">@(Email for user form)</div>
		</div>
		<div class="col-md-4 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.form.emailreply" data-required="true" data-jc-type="email">@(Email for answers)</div>
		</div>
		<div class="col-md-4 col-sm-4 m">
			<div data-jc="textbox" data-jc-path="settings.form.emailsender" data-required="true" data-jc-type="email">@(Email for sending)</div>
		</div>
	</div>
</div>
<div class="container">
	<hr />
	<h2>OAuth 2.0</h2>
	<br />
	<div data-jc="expander">
		<div class="row">
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-facebook blue"></span> Facebook</h3>
				<div class="fs11"><a href="https://developers.facebook.com/apps/" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">facebook</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_facebook_key">@(Facebook key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_facebook_secret">@(Facebook secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-google blue"></span> Google</h3>
				<div class="fs11"><a href="https://console.developers.google.com/" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">google</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_google_key">@(Google key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_google_secret">@(Google secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-instagram blue"></span> Instagram</h3>
				<div class="fs11"><a href="https://instagram.com/developer/" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">instagram</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_instagram_key">@(Instagram key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_instagram_secret">@(Instagram secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-yahoo blue"></span> Yahoo</h3>
				<div class="fs11"><a href="https://developer.yahoo.com" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">yahoo</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_yahoo_key">@(Yahoo key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_yahoo_secret">@(Yahoo secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-windows blue"></span> Windows Live</h3>
				<div class="fs11"><a href="https://account.live.com/developers/applications/" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">live</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_live_key">@(Windows Live key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_live_secret">@(Windows Live secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-dropbox blue"></span> Dropbox</h3>
				<div class="fs11"><a href="https://www.dropbox.com/developers/apps" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">dropbox</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_dropbox_key">@(Dropbox key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_dropbox_secret">@(Dropbox secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-vk blue"></span> VKontakte</h3>
				<div class="fs11"><a href="https://developer.yahoo.com" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">vk</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_vk_key">@(VKontakte key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_vk_secret">@(VKontakte secret)</div>
			</div>
			<div class="col-md-3 col-sm-6 m">
				<h3><span class="fa fa-linkedin blue"></span> LinkedIn</h3>
				<div class="fs11"><a href="https://www.linkedin.com/secure/developer" target="_blank"><span class="fa fa-plus mr5"></span>@(Create interface)</a></div>
				<div data-jc="oauth2callback" data-jc-path="settings.form.url" class="mt5">linkedin</div>
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_linkedin_key">@(LinkedIn key)</div>
				<br />
				<div data-jc="textbox" data-jc-path="settings.form.oauth2_linkedin_secret">@(LinkedIn secret)</div>
			</div>
		</div>
	</div>
</div>

<hr />
<br />
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 m">
			<div data-jc="textbox" data-jc-path="settings.form.defaultorderstatus" data-required="true">@(Default order status)</div>
			<br />
			<div class="row">
				<div class="col-md-4">
					<div data-jc="textbox" data-jc-path="settings.form.currency" data-required="true" data-align="center" data-maxlength="10">@(Currency)</div>
					<div class="help">@(The currency affects PayPal.)</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 m">
			<div data-jc="textboxlist" data-jc-path="settings.form.deliverytypes" class="m" data-placeholder="@(Type a value and press enter)" data-icon="fa-truck">@(Delivery types)</div>
			<div data-jc="textboxlist" data-jc-path="settings.form.paymenttypes" class="m" data-placeholder="@(Type a value and press enter)" data-icon="fa-credit-card">@(Payment types)</div>
		</div>
	</div>
</div>
<br />
<div class="hidden" data-jc="visible" data-jc-path="user" data-if="su.sa === true">
	<hr class="nmt" />
	<div class="container">
		<h2>@(Internal settings only for <b>Super Admin</b>)</h2>
		<br />
		<div class="row">
			<div class="col-md-4 m">
				<div data-jc="textboxlist" data-jc-path="settings.form.templates" class="m" data-icon="fa-object-ungroup" data-placeholder="@(Type a name of template and press enter)">@(Page templates)</div>
			</div>
			<div class="col-md-4 m">
				<div data-jc="textboxlist" data-jc-path="settings.form.templatesposts" class="m" data-icon="fa-object-ungroup" data-placeholder="@(Type a name of template and press enter)">@(Post templates)</div>
			</div>
			<div class="col-md-4 m">
				<div data-jc="textboxlist" data-jc-path="settings.form.templatesproducts" class="m" data-icon="fa-object-ungroup" data-placeholder="@(Type a name of template and press enter)">@(Product templates)</div>
			</div>
		</div>
		<div class="help nmt"><i class="fa fa-warning"></i>@(All templates has to be created manually in <code>/views/cms/</code> directory.)</div>
		<hr />
		<br />
		<div class="row">
			<div class="col-md-4 m">
				<div data-jc="textboxlist" data-jc-path="settings.form.navigations" class="m" data-icon="fa-folder" data-placeholder="@(Type a name of navigation and press enter)">@(Registered navigations)</div>
				<div class="help">@(Storage: <code>F.global.navigation.NAME</code>)</div>
			</div>
			<div class="col-md-4 m">
				<div data-jc="textboxlist" data-jc-path="settings.form.posts" class="m" data-icon="fa-folder" data-placeholder="@(Type a name of category and press enter)">@(Posts categories)</div>
				<div class="help">@(Storage: <code>F.global.posts</code>)</div>
			</div>
			<div class="col-md-4 m">
				<div data-jc="textboxtags" data-jc-path="settings.form.languages" data-icon="fa-language">@(Supported languages)</div>
				<div class="help">@(E.g. <code>en</code> <code>sk</code> <code>ru</code>)</div>
			</div>
		</div>
		<br />
	</div>
</div>

<div class="bg-smoke">
	<br />
	<div class="container">
		<div class="b"><span class="fa fa-paypal mr5"></span><b class="blue">PayPal</b> Express Checkout</div>
		<br />
		<div class="row">
			<div class="col-md-4 col-sm-4 m">
				<div data-jc="textbox" data-jc-path="settings.form.paypaluser">@(User name)</div>
			</div>
			<div class="col-md-4 col-sm-4 m">
				<div data-jc="textbox" data-jc-path="settings.form.paypalpassword">@(Password)</div>
			</div>
			<div class="col-md-4 col-sm-4 m">
				<div data-jc="textbox" data-jc-path="settings.form.paypalsignature">@(Signature)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="checkbox" data-jc-path="settings.form.paypaldebug">@(Enable <b>test mode for PayPal</b>)</div>
			</div>
		</div>
	</div>
</div>
<br />

<div class="container">
	<div class="help" style="margin-top:10px">@(For creating another access into the administration click on to below button:)</div>
	<div class="mt5"><a href="javascript:void(0)" class="exec" data-exec="settings_users_add"><span class="fa fa-user mr5"></span>@(Add new administrator)</a></div>
	<br />
	<div data-jc="grid" data-jc-path="settings.form.users" data-max="1000000" data-jc-id="settings.users">
		<script type="text/html">
		<tr>
			<td><span class="fa fa-user"></span> {{ name }}</td>
			<td style="width:400px" class="ui-center active hidden-xs">{{ roles | roles(', ') }}</td>
			<td style="width:80px" class="ui-right">
				<button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
				<button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
			</td>
		</tr>
		</script>
	</div>
	<hr />
	<br />
	<div data-jc="error" data-jc-path="settings.form.response"></div>
	<div class="row">
		<div class="col-md-4 m col-md-offset-4">
			<div data-jc="validation" data-jc-path="settings.form">
				<button class="button b exec" data-exec="settings_save">@(SAVE SETTINGS)</button>
			</div>
		</div>
	</div>
	<br />
</div>

<div data-jc="form" data-title="@(User form)" data-jc-path="common.form" data-if="value === 'settings'" data-width="500px" data-jc-id="settings.formuser" class="hidden">
	<div class="padding npb">
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textbox" data-jc-path="settings.formuser.name" data-required="true" data-placeholder="@(Peter Sirka)">@(User name)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textbox" data-jc-path="settings.formuser.login" data-required="true">@(Login name)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="textbox" data-jc-path="settings.formuser.password" data-required="true">@(Login password)</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 m">
				<div data-jc="dropdowncheckbox" data-jc-path="settings.formuser.roles" data-options="@(dashboard)|dashboard;@(orders)|orders;@(products)|products;@(pages)|pages;@(posts)|posts;@(newsletter)|newsletter;@(users)|users;@(settings)|settings">@(Roles)</div>
				<div class="help">@(If the user roles will be empty then the user will be access to all functionality.)</div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="settings.formuser">
			<button name="submit">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Cancel)</button>
	</div>
</div>

<script>

	var settings = {};
	settings.form = {};
	settings.cache = {};

	function settings_refresh() {
		AJAX('GET {0}/api/settings/'.format(managerurl), function(response) {
			if (response.users)
				response.users = { items: response.users, page: 1, count: response.users.length, pages: 1, limit: 100 };
			else
				response.users = settings_users_default();

			SET('settings.form', response);

			// If the user changes a currency then we must reload the website.
			settings.cache.currency = response.currency;
		});
	}

	function settings_save() {

		// Prepare users
		var tmp = settings.form.users;
		settings.form.users = settings.form.users.items;

		var loading = FIND('loading').show();
		AJAX('PUT {0}/api/settings/'.format(managerurl), settings.form, function(response) {

			SET('settings.form.response', response);
			RESET('settings.form.*');

			if (response instanceof Array) {
				loading.hide(500);
				return;
			}

			success(true);
			RESET('settings.form.*');
			EXEC('pages_refresh_dependencies');
			EXEC('posts_refresh_codelists');

			// Restore users list
			settings.form.users = tmp;

			if (settings.cache.currency === settings.form.currency) {
				loading.hide(500);
				return;
			}

			// Refresh settings
			setTimeout(function() {
				location.reload();
			}, 3000);
		});
	}

	function settings_users_add() {
		SET('settings.formuser', {}, true);
		SET('common.form', 'settings');
	}

	Tangular.register('roles', function(value, separator) {
		return value instanceof Array && value.length ? value.join(separator) : '<em>@(super admin)</em>';
	});

	// Users grid
	ON('#settings.users', function(component) {
		component.click = function(index, row, button) {
			switch($(button).attr('name')) {

				case 'edit':
					var form = $.extend({}, row);
					form.$index = index;
					SET('settings.formuser', form, true);
					SET('common.form', 'settings');
					break;

				case 'remove':
					settings.form.users.items.splice(index, 1);
					settings.form.users.count = settings.form.users.items.length;
					UPDATE('settings.form.users');
					CHANGE('settings.form.*', true);
					break;
			}
		};
	});

	// Users form
	ON('#settings.formuser', function(component) {
		component.submit = function(hide) {

			if (!settings.form.users)
				settings.form.users = settings_users_default();

			var users = settings.form.users.items;
			var is = false;

			if (settings.formuser.$index !== undefined) {
				users[settings.formuser.$index].name = settings.formuser.name.trim();
				users[settings.formuser.$index].login = settings.formuser.login.trim();
				users[settings.formuser.$index].password = settings.formuser.password.trim();
				users[settings.formuser.$index].roles = settings.formuser.roles;
			} else
				users.push({ name: settings.formuser.name.trim(), login: settings.formuser.login.trim(), password: settings.formuser.password.trim(), roles: settings.formuser.roles });

			settings.form.users.count = users.length;

			UPDATE('settings.form.users');
			CHANGE('settings.form.*', true);
			hide();
		};
	});

	function settings_users_default() {
		return { items: [], page: 1, pages: 1, count: 0, limit: 100 };
	}

	COMPONENT('oauth2callback', function() {
		var self = this;
		var name;

		self.make = function() {
			name = self.html();
			self.classes('oauth2callback');
			self.html('<div>@(Authorize Callback URL)</div><input type="text" readonly="readonly" />')
		};

		self.setter = function(value) {
			self.find('input').val('{0}/oauth2/{1}/callback/'.format(value, name));
		};
	});

	settings_refresh();
</script>