@{title(user.name)}
@{sitemap('account')}

<div id="loading"></div>
<div class="padding">
	<br />
	<h1 style="margin-bottom:0">@{title}</h1>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<br />

			<div data-component="visible" data-component-path="datasource.items" data-if="value.length === 0" class="hidden">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 ui-center">
						<hr />
						<br />
						<div>@(You don't have any orders.)</div>
						<br />
						<hr />
						<br />
						<br />
						<a href="@{sitemap_url('products')}" class="linkbutton"><span class="fa fa-search"></span> @(Browse all products)</a>
						<br />
						<br />
					</div>
				</div>
			</div>

			<div data-component="visible" data-component-path="datasource.items" data-if="value.length > 0" class="hidden">
				<div class="row">
					<h3>My orders:</h3>
				</div>
				<div data-component="repeater" data-component-path="datasource.items" class="orders">
					<script type="text/html">
						<div class="row">
							<div class="col-sm-5">
								<a href="/checkout/{{ id }}/">Order # {{ id }}</a>
								<div>{{ status }}</div>
							</div>
							<div class="col-sm-4 ui-right">
								<div class="b">@{currency('{{ price }}')}</div>
								<div>{{ count }} items</div>
							</div>
							<div class="col-sm-3 ui-right">
								<div class="b">{{ datecreated | format('yyyy-MM-dd') }}</div>
								<div>{{ datecreated | format('HH:mm') }}</div>
							</div>
						</div>
					</script>
				</div>
			</div>
			<br />
			<br />
		</div>
	</div>
</div>

@{json(model, 'orders')}

@{section script}
<script>
	var datasource = JSON.parse($('#orders').html());
</script>
@{end}