<div class="row">
	@{foreach m in model.items}
	<div class="col-md-3 col-sm-4 product">
		@{if m.istop}<img src="/img/top.png" class="product-top" alt="TOP" width="40" />@{fi}
		<a href="@{m.linker}" class="product-picture"><img src="@{if !m.pictures || !m.pictures.length}/img/empty.png@{else}/images/small/@{m.pictures[0]}.jpg@{fi}" class="img-responsive" alt="@{m.name}" border="0" /></a>
		<a href="@{m.linker_category}" class="product-category">@{m.category}</a>
		<div class="product-manufacturer">@{m.manufacturer}</div>
		<a href="@{m.linker}" class="product-name">@{m.name}</a>
		<div class="product-price">@{currency(m.price)}</div>
	</div>
	@{end}
</div>

@{if !model.count}
	<div class="row" style="margin-top:30px;margin-bottom:100px" id="empty">
		<div class="col-md-6 col-md-offset-3 m ui-center">
			<div><span class="fa fa-search fa-5x"></span></div>
			<br />
			<br />
			<div>
				@(Currently we don't have any items sufficient for search criteria.)<br />
				<b>@(Try to visit our page later)</b>.
			</div>
		</div>
	</div>
@{fi}