@{title('Sign in')}
@{sitemap('#account')}

<div id="loading"></div>
<div class="padding">
	<br />
	<h1 style="margin-bottom:0">@{title}</h1>
	<br />
	<br />
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			@{view('oauth2')}
		</div>
	</div>
	<br />
	<br />
</div>

@{section script}
<script>
// Saves last location after an user click to oauth2
$('.social-oauth2').on('click', 'a', function() {
	if (window.localStorage)
		window.localStorage.setItem('oauth2', '/checkout/');
});
</script>
@{end}