@{notranslate}

<!-- ALL CMS CONTENT (FOR EDITOR) MUST BE WRAPPED IN <div id="CMS"> -->
<div id="CMS">

	@{if repository.preview}

		@{if repository.page && repository.page.body}

			<!-- RENDER UPDATED CONTENT -->
			@{!repository.page.body}

		@{else}

			<!-- DEFAULT CONTENT FOR NEW PAGES FO THIS TEMPLATE -->
			<div class="padding">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 CMS_widgets">
						<div class="CMS_edit CMS_repeat CMS_remove m">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quisquam, iusto repellendus, similique iure nisi, maiores aliquid repellat velit iste repudiandae tempora atque natus cum necessitatibus at quasi quibusdam! Quisquam facilis amet excepturi deleniti pariatur fugit maiores quae odit voluptate suscipit placeat, aut accusamus. Dicta ducimus est nam totam sed?</div>
					</div>
				</div>
			</div>

		@{fi}

	@{else}

		<!-- RENDERING FOR VISITORS -->
		<br />
		<br />
		<h1 style="margin-bottom:0">@{repository.page.title}</h1>
		@{!repository.page.body}

	@{fi}
</div>