@{title(repository.page.name)}
@{sitemap('contact')}

<div id="loading"></div>
<div class="padding npb">
	<h1 class="nmb">@{title}</h1>
</div>

@{!repository.page.body}

<div class="padding npt">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 m">

			<div data-component="visible" data-component-path="common.success" data-if="value && value.success === true" class="hidden">
				<div class="message-success"><span class="fa fa-check-circle"></span> @(Thanks, the contact form has been sent successfully.)</div>
				<br />
			</div>

			<div data-component="visible" data-component-path="common.success" data-if="!value || !value.success">
				<div class="row">
					<div class="col-md-6 m">
						<div data-component="textbox" data-component-path="form.firstname" data-required="true" data-component-value="''">@(First name)</div>
					</div>
					<div class="col-md-6 m">
						<div data-component="textbox" data-component-path="form.lastname" data-required="true" data-component-value="''">@(Last name)</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 m">
						<div data-component="textbox" data-component-path="form.email" data-required="true" data-component-type="email" data-component-value="'@'">@(Email address)</div>
					</div>
					<div class="col-md-6 m">
						<div data-component="textbox" data-component-path="form.phone" data-component-value="''">@(Phone number)</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12 m">
						<div data-component="textarea" data-component-path="form.message" data-required="true" data-height="100px" data-component-value="''">@(Message)</div>
					</div>
				</div>
				<div data-component="error" data-component-path="common.success"></div>
				<br />
				<div class="row">
					<div class="col-md-6">
						<div data-component="validation" data-component-path="form">
							<button class="button" disabled="disabled" data-component="click" data-component-path="#submit">@(SUBMIT FORM)</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@{section script}
<script>

	var common = {};
	var form = {};

	form.email = '@';

	OPERATION('submit', function() {
		AJAX('POST /api/contact/', form, function(response) {
			DEFAULT('form.*');
			SET('common.success', response);
		});
	});

	var query = $.components.parseQuery();

	if (query.productid) {
		form.message = '@(I need more informations about the product:) ' + query.productid + '.\n\nThanks';
		$(window).animate({ scrollTo: $('#contactform').offset().top - 20 }, 1000);
	}

	if (query.orderid) {
		form.message = '@(I want to cancel the order #) ' + query.orderid + '.\n\nThanks';
		$(window).animate({ scrollTo: $('#contactform').offset().top - 20 }, 1000);
	}

</script>
@{end}