@{sitemap('#homepage')}

<div class="padding">
	<h1>@(404: Page not found)</h1>
	<br />
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 m center">
			@(Sorry, the page cannot be found.)<br />
			@(Try to visit the page later or <a href="/contact/">contact us via contact form</a>.)
		</div>
	</div>
	<br />
	<br />
	<hr />
	<br />
	<br />
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<a href="/shop/" class="linkbutton"><span class="fa fa-shopping-cart"></span> @(Browse products)</a>
		</div>
	</div>
	<br />
	<br />
</div>