<!DOCTYPE html>
<html>
<head>
	<title>EMAIL LAYOUT</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="date=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="format-detection" content="email=no" />
	<style type="text/css">
		* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin:0; padding:0; }
		body { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:none; height: 100%; background-color: white; }
	</style>
</head>
<body style="margin:0;padding:0">
	<div style="background-color:#F0F0F0;padding:20px;font-family:Arial;font-size:14px;margin:0">
		<table align="center" style="margin:0 auto;max-width:600px;font-size:14px;width:100%">
			<tr>
				<td>
					<div style="margin:10px 0 30px"><a href="@{global.config.url}"><img src="@{global.config.url}/img/logo.png" alt="@{config.name}" border="0" /></a></div>
					<div style="padding:30px;background-color:white;border-radius:4px;color:gray;line-height:18px">
						@{body}
					</div>
					<div style="text-align:center;font-size:11px;margin:15px 0 0;color:gray">&copy; 2015-2017 @{config.name}</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>