@{layout('~mails/layout')}

<div style="font-size:20px;color:#A0A0A0">@(Dear) <b>@{model.firstname}</b></div>
<div style="margin-top:15px">@(thank you for your registration. Your account has been created successfully and this message is an automated reply to your registration request.)</div>
<br />
<div style="border-top:1px solid #F0F0F0;padding:30px 0 10px"><a href="@{global.config.url}@{sitemap_url('account')}" style="padding:20px 0;border-radius:4px;text-align:center;text-decoration:none;margin:0 auto;max-width:300px;width:100%;border:2px solid #4CABF8;display:block;background-color:#4CABF8;color:white;font-size:18px;font-weight:bold;letter-spacing:-1px">@(MY ACCOUNT)</a></div>