@{layout('~mails/layout')}

<div>@(Dear) <b>@{model.firstname}</b>,</div>
<div style="margin-top:5px">@(you used the password recovery. Please click on the button below for resetting your password. If you received this email by mistake then you remove it.)</div>
<br />
<br />
<div style="border-top:1px solid #F0F0F0;padding:30px 0 20px"><a href="@{config.custom.url}@{sitemap_url('account')}?hash=@{model.hash.encode()}" style="padding:20px 0;border-radius:4px;text-align:center;text-decoration:none;margin:0 auto;max-width:300px;width:100%;border:2px solid #4CABF8;display:block;color:#4CABF8;font-size:18px;font-weight:bold">RESET</a></div>
<br />