@{title(user.name)}
@{sitemap('account')}

@{view('~/menutop')}

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            @{foreach m in sitemap()}
            @{if m.id === 'category'}
            @{sitemap_category(m.url, repository.category)}
            @{else}
            @{if m.last}
            <li class="active">@{m.name}</li>
            @{else}
            <li><a href="@{m.url}">@{m.name}</a></li>
            @{fi}
            @{fi}
            @{end}
        </ul>

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Login/Register</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Restore Password</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> My account</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Address book</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Wish list</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Returns</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Newsletter</a></li>
                </ul>
            </div>
            <!-- END SIDEBAR -->

            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">
                <h1>My Account Page</h1>
                <div class="content-page">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="javascript:;">Edit your account information</a></li>
                        <li><a href="javascript:;">Change your password</a></li>
                        <li><a href="javascript:;">Modify your address book entries</a></li>
                        <li><a href="javascript:;">Modify your wish list</a></li>
                    </ul>
                    <hr>

                    <h3>My Orders</h3>
                    <ul>
                        <li><a href="javascript:;">View your order history</a></li>
                        <li><a href="javascript:;">Downloads</a></li>
                        <li><a href="javascript:;">Your Reward Points</a></li>
                        <li><a href="javascript:;">View your return requests</a></li>
                        <li><a href="javascript:;">Your Transactions</a></li>
                    </ul>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

@{json(model, 'orders')}

@{section script}
<script>
    var datasource = JSON.parse($('#orders').html());
</script>
@{end}

@{view('~/footers')}