@{sitemap('blogs')}

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            @{foreach m in sitemap()}
            @{if m.id === 'category'}
            @{sitemap_category(m.url, repository.category)}
            @{else}
            @{if m.last}
            <li class="active">@{m.name}</li>
            @{else}
            <li><a href="@{m.url}">@{m.name}</a></li>
            @{fi}
            @{fi}
            @{end}
        </ul>


        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            @{view('~/menuleft')}

            <div class="col-md-9 col-sm-9">
                <h1>@{title}</h1>
                @{view('partial-blogs', model)}
                @{view('partial-pagination', model)}
            </div>
        </div>
    </div>
</div>

@{view('~/footers')}