
<div class="content-page">
    @{foreach m in model.items}
    <div class="review-item clearfix">
        <div class="review-item-submitted">
            <a href="@{sitemap_url('blogsdetail', m.linker)}" class="h2">@{m.name}</a>
            <em>@{m.datecreated.format('yyyy-MM-dd HH:mm')}</em>
        </div>
        <div class="review-item-content">
            <p>@{m.perex}</p>
        </div>
    </div>
    @{end}


    @{if !model.count}
    <div class="row" class="padding-top-30" id="empty">
        <div class="col-md-6 col-md-offset-3 m ui-center">
            <div><span class="fa fa-search fa-5x"></span></div>
            <br />
            <br />
            <div class="review-item-content">
                <p>@(Currently we don't have any items sufficient for search criteria.)<p/>
                <h4>@(Try to visit our page later)</h4>.
            </div>
        </div>
    </div>
    @{fi}

</div>