@{sitemap('shopping-cart')}

<div id="loading"></div>
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            @{foreach m in sitemap()}
            @{if m.id === 'category'}
            @{sitemap_category(m.url, repository.category)}
            @{else}
            @{if m.last}
            <li class="active">@{m.name}</li>
            @{else}
            <li><a href="@{m.url}">@{m.name}</a></li>
            @{fi}
            @{fi}
            @{end}
        </ul>


        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>@{title}</h1>

                <div data-component="visible" data-component-path="datasource" data-if="!value || !value.length" class="hidden">
                    <div class="shopping-cart-page">
                        <div class="shopping-cart-data clearfix">
                            <p>@(eshop:Your shopping cart is empty), <b>try to visit this page later</b>.</p>
                            <a href="@{sitemap_url('products')}" class="linkbutton"><span class="fa fa-search"></span> @(Browse all products)</a>
                        </div>
                    </div>
                </div>


                <div data-component="visible" data-component-path="datasource" data-if="value && value.length > 0" class="hidden">
                    <div class="goods-page">
                        <div class="goods-data clearfix">
                            <div class="table-wrapper-responsive">
                                <table summary="Shopping cart" class="checkoutlist">
                                    <thead>
                                        <tr>
                                            <th class="goods-page-image">@(eshop:Image)</th>
                                            <th class="goods-page-description">@(eshop:Description)</th>
                                            <th class="goods-page-ref-no">Ref No</th>
                                            <th class="goods-page-quantity">@(eshop:Quantity)</th>
                                            <th class="goods-page-price">@(eshop:Unit price)</th>
                                            <th class="goods-page-total" colspan="2">@(eshop:Total)</th>
                                        </tr>
                                    </thead>
                                    <tbody data-component="repeater" data-component-path="datasource">
                                    <script type="text/html">
                                        <tr>
                                            <td class="goods-page-image">
                                                <a href="{{ linker }}"><img src="/images/small/{{pictures[0]}}.jpg" alt="{{ name }}"></a>
                                            </td>
                                            <td class="goods-page-description">
                                                <h3><a href="{{ linker }}">{{ name }}</a></h3>
                                                {{if description}}
                                                <pre>{{description}}</pre>
                                                {{fi}}
                                                <!--<p><strong>Item 1</strong> - Color: Green; Size: S</p>
                                                <em>More info is here</em>-->
                                            </td>
                                            <td class="goods-page-ref-no">
                                                {{optional.title}}
                                            </td>
                                            <td class="goods-page-quantity">
                                                <div class="product-quantity">
                                                    <div class="input-group bootstrap-touchspin input-group-sm">
                                                        <span class="input-group-btn">
                                                            <button class="btn quantity-down bootstrap-touchspin-down" data-id="{{ optional.cartId }}" type="button"><i class="fa fa-angle-down"></i></button>
                                                        </span>
                                                        <input id="product-quantity" type="text" value="{{ count }}" data-id="{{ optional.cartId }}" readonly="" class="form-control input-sm" style="display: block;">
                                                        <span class="input-group-btn">
                                                            <button class="btn quantity-up bootstrap-touchspin-up" data-id="{{ optional.cartId }}" type="button"><i class="fa fa-angle-up"></i></button></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="goods-page-price">
                                                <strong>@{currency('{{ price | format(2) }}')}</strong>
                                            </td>
                                            <td class="goods-page-total">
                                                <strong class="checkoutlist-item-price" data-format="@{currency('{0}')}">@{currency('{{ price | sum(2) }}')}</strong>
                                            </td>
                                            <td class="del-goods-col">
                                                <span class="del-goods" data-id="{{ optional.cartId }}">&nbsp;</span>
                                            </td>
                                        </tr>
                                        </script>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="shopping-total">
                                    <ul data-component="template" data-component-path="summarize" class="hidden-xs">
                                        <script type="text/html">
                                            <li>
                                                <em>@(eshop:Sub total)</em>
                                                <strong class="price"><span>@{currency('{{ price | format(2) }}')}</strong>
                                            </li>
                                            <li>
                                                <em>@(eshop:Shipping cost)</em>
                                                <strong class="price">@{currency('{{ 0 | format(2) }}')}</strong>
                                            </li>
                                            <li class="shopping-total-price">
                                                <em>@(eshop:Total)</em>
                                                <strong class="price">@{currency('{{ price | format(2) }}')}</strong>
                                            </li>
                                            </script>
                                        </ul>
                                    </div>
                                </div>
                                <a class="btn btn-default" type="button" href="@{sitemap_url('homepage')}">@(eshop:Continue shopping) <i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-primary" type="button" href="@{sitemap_url('checkout')}">@(eshop:Checkout) <i class="fa fa-check"></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- END CONTENT -->
                </div>
            </div>
        </div>

        @{view('~/footers')}