@{notranslate}
@{nocompress html}

@{if repository.preview}
	<!-- ALL CMS CONTENT (FOR EDITOR) MUST BE WRAPPED IN <div id="CMS"> -->
	<br />
	<div id="CMS">
		@{if repository.page && repository.page.body}
			<!-- RENDER UPDATED CONTENT -->
			@{!repository.page.body}
		@{else}
			<!-- DEFAULT CONTENT FOR NEW PAGES FO THIS TEMPLATE -->
			<div class="CMS_widgets" data-cms-category="Content,Columns"></div>
		@{fi}
	</div>
	<br />
@{else}
	<!-- RENDERING FOR VISITORS -->
	@{if repository.page && repository.page.body}
		<h1>@{repository.page.title}</h1>
		@{!repository.page.body}
	@{fi}
@{fi}
