@{title('UI tests')}
@{sitemap('homepage')}

<style>
	.content-specification { padding: 25px 20px 0; }
	.content-specification-title { font-size: 16px; color: black; font-weight: bold; margin-bottom: 10px; }
	.content-specification-keyvalue { background-color: #F0F0F0; height: 28px; font-size: 12px; border-radius: 4px; margin-bottom: 1px; }
	.content-specification-keyvalue .key { float: left; padding: 6px 0 0 10px; height: 28px; width: 180px; border-right: 1px dashed #D0D0D0; }
	.content-specification-keyvalue .value { margin-left: 200px; padding: 6px 10px 0 0; color: black; }
</style>
<div class="content-specification">
	<div class="CMS_repeat">
		<div class="content-specification-title">Specifications</div>
		<div class="content-specification-keyvalue CMS_repeat">
			<div class="key CMS_edit">Color</div>
			<div class="value CMS_edit">Blue</div>
		</div>
	</div>
</div>


<style>
	.content-cover { margin: 25px 0 0; }
</style>
<div class="content-cover">
	<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABEIAAAGQAQMAAACQwle5AAAAA1BMVEXW1taWrGEgAAAAS0lEQVR4Ae3BgQAAAADDoPtTH2TVAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIOtegAAH7EZyFAAAAAElFTkSuQmCC" class="img-responsive CMS_edit" alt="" border="0" />
</div>


<style>
	.content-panels { margin: 25px 0 0; padding: 0 20px; }
	.content-panels h2 { font-size: 20px; margin: 15px 0 8px; }
	.content-panels p { margin-top: 0; font-size: 14px; line-height: 16px; }
</style>
<div class="content-panels">
	<div class="row">
		<div class="col-sm-4 m">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAACWAQMAAADJxIBLAAAAA1BMVEXW1taWrGEgAAAAHUlEQVR4Ae3BAQ0AAADCIPunNsc3YAAAAAAAABB3GvQAARQDRpQAAAAASUVORK5CYII=" class="img-responsive img-rounded CMS_edit CMS_remove" alt="" border="0" />
			<h2 class="CMS_edit">Lorem ipsum dolor</h2>
			<p class="CMS_edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
		</div>
		<div class="col-sm-4 m">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAACWAQMAAADJxIBLAAAAA1BMVEXW1taWrGEgAAAAHUlEQVR4Ae3BAQ0AAADCIPunNsc3YAAAAAAAABB3GvQAARQDRpQAAAAASUVORK5CYII=" class="img-responsive img-rounded CMS_edit CMS_remove" alt="" border="0" />
			<h2 class="CMS_edit">Lorem ipsum dolor</h2>
			<p class="CMS_edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
		</div>
		<div class="col-sm-4 m">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAACWAQMAAADJxIBLAAAAA1BMVEXW1taWrGEgAAAAHUlEQVR4Ae3BAQ0AAADCIPunNsc3YAAAAAAAABB3GvQAARQDRpQAAAAASUVORK5CYII=" class="img-responsive img-rounded CMS_edit CMS_remove" alt="" border="0" />
			<h2 class="CMS_edit">Lorem ipsum dolor</h2>
			<p class="CMS_edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
		</div>
	</div>
</div>

<style>
	.content-hr { margin: 30px 0; border-color: #F0F0F0; }
</style>
<hr class="content-hr" />


<style>
	.content-textright { margin: 25px 0 0; padding: 0 0 0 20px; border-bottom: 1px solid #F0F0F0; }
	.content-textright h2 { font-size: 20px; margin: 0 0 8px; }
	.content-textright p { margin-top: 0; font-size: 14px; line-height: 16px; }
</style>
<div class="content-textright">
	<div class="row">
		<div class="col-md-6 m">
			<div class="CMS_repeat">
				<h2 class="CMS_edit CMS_remove">Lorem ipsum dolor</h2>
				<p class="CMS_edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
			</div>
		</div>
		<div class="col-md-6">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAiYAAAD6AQMAAACvYx54AAAAA1BMVEXW1taWrGEgAAAAJ0lEQVR4Ae3BAQ0AAADCIPuntscHDAAAAAAAAAAAAAAAAAAAAABIOkRcAAGV9dofAAAAAElFTkSuQmCC" class="img-responsive CMS_edit CMS_remove" alt="" border="0" />
		</div>
	</div>
</div>

<style>
	.content-textleft { margin: 25px 0 0; padding: 0 20px 0 0; border-bottom: 1px solid #F0F0F0; }
	.content-textleft h2 { font-size: 20px; margin: 0 0 8px; }
	.content-textleft p { margin-top: 0; font-size: 14px; line-height: 16px; }
</style>
<div class="content-textleft">
	<div class="row">
		<div class="col-md-6">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAiYAAAD6AQMAAACvYx54AAAAA1BMVEXW1taWrGEgAAAAJ0lEQVR4Ae3BAQ0AAADCIPuntscHDAAAAAAAAAAAAAAAAAAAAABIOkRcAAGV9dofAAAAAElFTkSuQmCC" class="img-responsive CMS_edit CMS_remove" alt="" border="0" />
		</div>
		<div class="col-md-6 m">
			<div class="CMS_repeat">
				<h2 class="CMS_edit CMS_remove">Lorem ipsum dolor</h2>
				<p class="CMS_edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
			</div>
		</div>
	</div>
</div>

<style>
	.content-empty { height: 30px; }
</style>
<div class="content-empty"></div>


<style>
	.content-textcenter { margin: 25px 0 0; padding: 50px 0; text-align: center; }
	.content-textcenter h2 { font-size: 20px; margin: 0 0 8px; }
	.content-textcenter p { margin-top: 0; font-size: 14px; line-height: 16px; }
</style>
<div class="content-textcenter">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 m">
			<div class="CMS_repeat">
				<h2 class="CMS_edit CMS_remove">Lorem ipsum dolor</h2>
				<p class="CMS_edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
			</div>
		</div>
	</div>
</div>
<div class="content-textcenter-image">
	<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABEIAAAGQAQMAAACQwle5AAAAA1BMVEXW1taWrGEgAAAAS0lEQVR4Ae3BgQAAAADDoPtTH2TVAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIOtegAAH7EZyFAAAAAElFTkSuQmCC" class="img-responsive CMS_edit" alt="" border="0" />
</div>


<style>
	.layout-half { margin: 35px 0 0; }
</style>
<div class="layout-half CMS_attribute">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 m">
			<div class="CMS_widgets"></div>
		</div>
	</div>
</div>


<div class="content-text CMS_attribute">
	<h2 class="CMS_edit CMS_remove" data-themes="Left|left;Center|center">Lorem ipsum dolor</h2>
	<p class="CMS_edit CMS_remove" data-themes="Left|left;Center|center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium obcaecati, ipsum illum impedit aspernatur rem a accusamus sapiente quaerat eos temporibus soluta aliquam, quod atque aperiam tenetur delectus deleniti dolores.</p>
</div>
