/*auto*/

$font    : 'Source Sans Pro';
.CMS_hidden { display: none; }
.container { padding-left: 25px; padding-right: 25px; }

html,body { height: 100%; }
body { background-color: white; padding: 0; color: #AAB2BD; font-smoothing: antialiased; }
form { padding: 0; margin: 0; }

header { border-bottom: 1px solid #F0F0F0; padding: 15px 0; margin-bottom: 5px; }
header nav { float: right; margin: 5px 0 0 0; }
header nav a { margin-left: 20px; color: gray; }
header nav a:first-child { margin-left: 0; }
header nav .fa { margin-right: 5px; }

h1 { font-family: $font; margin: 10px 0 30px; padding: 0; font-size: 34px; font-weight: 400; color: #656D78; text-align: center; }
h1 b, h1 strong { font-weight: 700; }
h2 { font-family: $font; margin: 0 0 10px; padding: 0; font-size: 20px; font-weight: 400; }
h2.large { font-size: 30px; margin-bottom: 15px; font-weight: 200; }

h3 { font-family: $font; margin: 0 0 10px; padding: 0; font-size: 20px; font-weight: 400; color: #656D78; }
h3.large { font-size: 30px; margin-bottom: 15px; font-weight: 200; }

.m { margin-bottom: 20px; }

.newsletter { background-color: #F0F0F0; margin: 20px 0; }
.newsletter-input { margin-right: 150px; padding: 0 20px; background-color: white; }
.newsletter-input input { width: 100%; background-color: transparent; border: 0; font-size: 16px; height: 40px; outline: 0; color: black; }
.newsletter-button { width: 150px; float: right; margin: 0; padding: 0; }
.newsletter-button button { width: 100%; background-color: #D0D0D0; border: 0; height: 40px; color: gray; }
.newsletter-button button:hover { background-color: black; color: white; }
.newsletter-button .fa { margin-right: 8px; font-size: 16px; }
.newsletter-success { color: #7B9B46 !important; }

.linkbutton { display: block; border: 2px solid #69AF44; padding: 20px 0; text-align: center; border-radius: 4px; color: #69AF44; font-family: $font; font-size: 20px; background-color: white; text-decoration: none; }
.linkbutton:hover { color: white; text-decoration: none; background-color: #69AF44; }
.linkbutton:focus { color: #69AF44; text-decoration: none; background-color: white; }
.linkbutton:active { box-shadow: inset 0 2px 5px rgba(0,0,0,0.1); color: white; background-color: #69AF44; }

.reference a { position: relative; display: block; color: gray; }
.reference a:hover { text-decoration: none !important; }
.reference a:hover * { text-decoration: none; }
.reference a:hover span { background-color: #F0F0F0; color: black; }
.reference-title { display: block; padding: 10px 0; background-color: #F8F8F8; text-align: center; font-size: 12px; }
.reference b { display: block; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.reference { margin-bottom: 30px; }

.breadcrumb { color: silver; display: block; overflow: hidden; font-size: 11px; }
.breadcrumb ul { position: relative; display: inline-block; list-style-type: none; margin: 4px 0 0 0; padding: 0; }
.breadcrumb li { position: relative; display: inline-block; max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; vertical-align: middle; }
.breadcrumb a { color: gray; }
.breadcrumb li .fa { margin: 0 8px 0 10px; }

footer { text-align: center; font-size: 12px; padding: 50px 0; color: gray; border-top: 1px solid #E0E0E0; }

.bloglisting > div { border-bottom: 1px solid #E0E0E0; padding-top: 0; padding-bottom: 25px; margin-top: 0; margin-bottom: 25px; }
.bloglisting a { font-size: 22px; font-weight: 700; font-family: $font; }

.message-success { background-color: #8CC152; color: white; padding: 18px 20px; text-align: center; font-size: 16px; }

#gallery-layer { background-color: rgba(0,0,0,0.5); z-index: 5; left: 0; top: 0; position: fixed; bottom: 0; right: 0; overflow: hidden; display: none; width: 100%; height: 100%; }
.gallery-close { position: absolute; right: 0; top: 0; font-size: 20px; color: white; cursor: pointer; background-color: black; width: 40px; padding: 5px 0; text-align: center; }
.gallery-container { display: table; width: 100%; height: 100%; }
.gallery-container img { width: 100%; border-radius: 4px; }
.gallery-container > div { display: table-cell; height: 100%; vertical-align: middle; max-width: 100%; }
.gallery-container .fa { background-color: black; padding: 40px 20px; cursor: pointer; font-size: 20px; user-select: none; color: white; }
.gallery-next { display: table-cell; width: 15%; text-align: right; }
.gallery-prev { display: table-cell; width: 15%; }
.gallery-image { display: table-cell; text-align: center; }
.gallery-image img { box-shadow: 0 0 20px rgba(0,0,0,0.2); margin: 0 auto; }
.gallery-alt { color: #E0E0E0; margin-top: 15px; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #505050; border-radius: 3px; padding: 5px 10px; }

.gallery { cursor: pointer; margin-bottom: 20px; }
.gallery img { border-radius: 4px; }
.gallery-info { font-size: 11px; margin-top: 10px; text-align: center; }
.gallery-info > div { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 2px; }
.gallery-info .fa { margin-right: 3px; }