/*auto*/

#CMS_panel { position: absolute; background-color: black; padding: 3px 2px; border-radius: 4px; box-shadow: 0 0 4px rgba(100,100,100,0.1); z-index: 10; display: none; }
#CMS_panel * { user-select: none; }
#CMS_panel span { position: relative; display: inline-block; background-color: #303030; font-size: 14px; cursor: pointer; padding: 5px 0; margin: 1px 2px; width: 28px; text-align: center; border-radius: 4px; color: gray; }
#CMS_panel span:last-child { background-color: #DF452D; color: white; }
#CMS_panel span:hover { background-color: #404040; }
.CMS_panel_disabled { color: #303030 !important; cursor: not-allowed; background-color: #151515 !important; }
.CMS_selected { background-color: rgba(0,0,0,0.1) !important; }
.CMS_edit { cursor: crosshair; }
.CMS_widget { background-color: #F0F0F0; text-align: center; padding: 20px 0; font-weight: bold; color: black; margin: 1px; }
.CMS_widget pre { padding: 10px; margin: 10px 10px 0; display: block; background-color: white; font-weight: normal; text-align: center; }
#CMS { padding: 20px 0; }
.CMS_widgets { border-top: 1px dotted #E0E0E0; cursor: crosshair; padding: 15px 0; min-height: 30px; }
.CMS_hidden { display: block !important; }
*[contentEditable] { cursor: text; }